<template>
  <v-layout row>

    <v-flex xs5>
      <input-field 
        v-model="checkout.viewmodel.step1.location_from"
        :type="'Object'"
        :label="'Location Checkout From'"

        :ditems="$store.getters['maintenance/getWarehouses']"
        :dtext="'name'"
        :dvalue="'id'"
        :icon="'store'"
        >
      </input-field>

      <input-field 
        v-model="checkout.viewmodel.step1.project"
        :type="'Object'"
        :label="'Project'"

        :ditems="$store.getters['maintenance/getProjects']"
        :dtext="'name'"
        :dvalue="'id'"
        :icon="'store'"
        @change="$store.dispatch('checkout/step1_FilteredProjectLocations')"
        >
      </input-field>

      <input-field 
        v-model="checkout.viewmodel.step1.location"
        :type="'Object'"
        :label="'Project Location'"

        :ditems="$store.getters['maintenance/getProjectLocations']"
        :dtext="'name'"
        :dvalue="'id'"
        :icon="'store'"
        >
      </input-field>

    </v-flex>
    <v-flex xs7>
      
    </v-flex>

    

  </v-layout>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: mapState(['checkout']),
}
</script>