<template>
  <div>
    <v-card>
      <v-layout class="ml-4 mr-4">
        <h1 class="display-1 font-weight-bold mt-5">{{ master.viewmodel.module_name }}</h1>
      </v-layout>

      <v-layout row wrap class="ml-3 mr-4">
        <v-btn class="primary" flat small @click.prevent="$router.replace('/system-admin')"><v-icon dark small>chevron_left</v-icon>Back</v-btn>
        <v-btn class="primary" flat small @click.prevent="$store.dispatch('master/list')"><v-icon dark small>refresh</v-icon>&nbsp;Refresh</v-btn>
        <v-btn class="primary" flat small @click.prevent="$store.dispatch('master/showModal', { id: null, isArchive: false })"><v-icon dark small>add</v-icon>&nbsp;Add</v-btn>
        <v-menu offset-y>
          <template slot="activator">
              <v-btn
              class="primary"
              flat small
              open-on-click
              ><v-icon dark small>import_export</v-icon>
              Export
              </v-btn>
          </template>
          <v-list>

              <v-list-tile>
                  <v-list-tile-title style="cursor:pointer">
                      <download-excel :data="master.viewmodel.index.table.data" :fields="master.viewmodel.index.table.search.fields" :name="excelName">
                          Excel
                      </download-excel>
                  </v-list-tile-title>
              </v-list-tile>

              <v-list-tile>
                  <v-list-tile-title style="cursor:pointer">
                      <download-excel :data="master.viewmodel.index.table.data" :fields="master.viewmodel.index.table.search.fields" type="csv" :name="csvName">
                          CSV
                      </download-excel>
                  </v-list-tile-title>
              </v-list-tile>

              <v-list-tile @click.prevent="exportPDF()">
                  <v-list-tile-title>PDF</v-list-tile-title>
              </v-list-tile>

          </v-list>
        </v-menu>
      </v-layout>

      <v-layout class="ml-4 mr-4 mt-3" style="max-width:1320px">
          <!-- <v-autocomplete
            v-model="master.viewmodel.index.table.search.field"
            :items="master.viewmodel.index.table.headers"
            label="Search by field"
            dense
            style="max-width:275px;"
            autocomplete
          ></v-autocomplete> -->
          <v-text-field solo
            v-model="master.viewmodel.index.table.search.value"
            append-icon="search"
            label="Search keyword"
            @click:append="$store.dispatch('master/list')"
            @keypress.enter.prevent="$store.dispatch('master/list')"
          ></v-text-field>
        <v-spacer></v-spacer>
      </v-layout>

      <v-layout class="pl-4 pr-4 pb-4">
        <v-flex>
          <table-template 
              class="elevation-0"
              :model="master.viewmodel.index.table" 
              @update:pagination="$store.dispatch('master/list')"
              :actions="[
                  { title: 'edit', key: 'id', method: (id) => { $store.dispatch('master/showModal', { id: id, isArchive: false }) } },
                  { title: 'delete', key: 'id', method: (id) => { $store.dispatch('master/showModal', { id: id, isArchive: true }) } },
                  { title: 'View Stocks', method: (props) => { expandStocks(props) } }]"
              >
                    <template slot="expanded" slot-scope="selected">
                      <v-layout class="pa-3">
                        <table-template 
                            class="elevation-1"
                            :model="supplierStocks"
                            @update:pagination="listStock(selected.id)"
                            >
                        </table-template>
                      </v-layout>
                    </template>
          </table-template>
        </v-flex>
      </v-layout>
    </v-card>

    <!-- MODAL -->
    <formmodal/>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import formmodal from '@/components/master/form-modal'
import { MomentHelper } from '@/helpers/moment.js'
import table from '@/helpers/tableHelper'

const { Table } = require('@/classes/table')

export default {
  data () {
    return {
      supplierStocks: new Table (
        [
          { readonly: false, icon: 'text_format', type: 'String', text: 'Product No', value: 'product_no', align: 'left' },
          { readonly: false, icon: 'location_city', type: 'String', text: 'Product Name', value: 'product_name', align: 'left' },
          { readonly: false, icon: 'person', type: 'String', text: 'Product Description', value: 'product_description', align: 'left' },
          { readonly: false, icon: 'text_format', type: 'String', text: 'Brand', value: 'product_brand', align: 'left' },
          { readonly: false, icon: 'email', type: 'String', text: 'Category', value: 'email', align: 'product_category' },                       
        ]).toPOJO()
    }
  },
  computed: {
    ...mapState(['master']),
    excelName(){
      return this.$store.state.master.viewmodel.module+'.xls'
    },
    csvName(){
      return this.$store.state.master.viewmodel.module+'.csv'
    }
  },
  components : {
    formmodal
  },
  methods: {
    MomentHelper (date) {
      return MomentHelper(date)
    },
    Camel (text) {
      return text.charAt(0).toUpperCase() + text.slice(1);
    },
    exportPDF(){
      table.exportToPDF(this.$store.getters['master/getTable'], this.$store.state.master.viewmodel.module)
    },
    expandStocks (props) {
      if (props.item) {
        this.listStock(props.item.id)
        props.expanded = !props.expanded
      }
    },
    listStock (supplier_id) {
      if (supplier_id) {
        this.$api.Supplier.get({
          slug: `${supplier_id}/stocks/`,
          params: this.$helpers.vuetifyTable.getParamsVuetify(this.supplierStocks),
          success: (data) => {
            this.$helpers.vuetifyTable.setTableDataVuetify(this.supplierStocks, data)
          },
          fail: (error) => {

          }
        })
      }
    }
  }
}
</script>

<style>

</style>
