<script>
import MainComponent from '@/components/maintenance/project/locations'
import { urlMasters } from '@/api/urls.js'

export default {
    extends: MainComponent,
    layout:'main',
    async asyncData({store, route, app}) {

      let project = {}

      await app.$api.Project.get({
        slug: route.params.id,
        success: (data) => {
          project = data
        }
      })
      
      return { selectedProject: project }
    },
    async fetch({store, route, app}) {

      let projects = []

      await app.$api.Project.get({
        slug: route.params.id,
        success: (data) => {
          projects.push(data)
        }
      })

      store.dispatch('master/reset')
      store.dispatch('master/setModuleName', 'Project Locations')
      store.dispatch('master/setModule', 'ProjectLocation')

      store.dispatch('master/addFilter', {
        key: 'project',
        value: route.params.id,
        name: `Project Locations`
      })

      store.dispatch('master/setHeaders',
        [
          { readonly: false, icon: 'text_format', type: 'String', text: 'Location Code', value: 'code', align: 'left' },
          { readonly: false, icon: 'text_format', type: 'String', text: 'Location Name', value: 'name', align: 'left' },
          { readonly: false, icon: 'text_format', type: 'String', text: 'Address', value: 'address', align: 'left' },
          { readonly: false, icon: 'text_format', type: 'String', text: 'Coordinates', value: 'coordinates', align: 'left', masking: '' },
          { readonly: false, icon: 'person', type: 'String', text: 'Contact Person', value: 'contact_person', align: 'left' },
          { readonly: false, icon: 'text_format', type: 'String', text: 'Contact Email', value: 'contact_email', align: 'left' },
          { readonly: false, icon: 'text_format', type: 'String', text: 'Contact Number', value: 'contact_number', align: 'left' },
          { readonly: false, icon: 'person', type: 'Object', select_items: projects, display_name: 'name', select_items_value: 'id', text: 'Project', value: 'project', align: 'left' },

          { readonly: false, icon: null, type: null, text: 'Actions', value: null, align: 'left', width: '50px;', sortable: false}
        ]
      )

      // store.commit('master/setField', { project: route.params.id })
    }
}
</script>

<style>

</style>
