<script>
import MainComponent from '@/components/maintenance/project/index'
import { urlMasters } from '@/api/urls.js'

export default {
    extends: MainComponent,
    layout:'main',
    async fetch({store, route, app}) {

      await store.dispatch('maintenance/populateClients', {})

      var clients = store.getters['maintenance/getClients']
      
      store.dispatch('master/reset')
      store.dispatch('master/setModuleName', 'Projects')
      store.dispatch('master/setModule', 'Project')

      if ('client' in route.query && 'name' in route.query) {
        store.dispatch('master/addFilter', {
          key: 'client',
          value: route.query.client,
          name: `Projects: ${route.query.name}`
        })
      }

      store.dispatch('master/setHeaders',
        [
          { readonly: false, icon: 'text_format', type: 'String', text: 'Project No', value: 'project_no', align: 'left' },
          { readonly: false, icon: 'text_format', type: 'String', text: 'Code', value: 'code', align: 'left' },
          { readonly: false, icon: 'text_format', type: 'String', text: 'Name', value: 'name', align: 'left' },
          { readonly: false, icon: 'text_format', type: 'String', text: 'Description', value: 'description', align: 'left' },
          { readonly: false, icon: 'date_range', type: 'Date', text: 'Date Start', value: 'date_start', align: 'left' },
          { readonly: false, icon: 'date_range', type: 'Date', text: 'Date End', value: 'date_end', align: 'left' },
          { readonly: false, icon: 'text_format', type: 'Boolean', text: 'Visible', value: 'is_visible', align: 'left' },
          { readonly: false, icon: 'person', type: 'Object', select_items: clients, display_name: 'name', select_items_value: 'id', text: 'Client', value: 'client', align: 'left' },
          { readonly: false, icon: null, type: null, text: 'Actions', value: null, align: 'left', width: '50px;', sortable: false}
        ]
      )
    }
}
</script>

<style>

</style>
