<template>
  <div>
    <v-card>
      <v-layout class="ml-4 mr-4">
          <h1 class="display-1 font-weight-bold mt-5">Stock Requisition</h1>
      </v-layout>

      <v-layout class="ml-4 mr-4">
          <div>Step by step requisition</div>
      </v-layout>

      <v-layout row wrap class="ml-3 mr-4">
          <v-btn class="primary" flat small @click.prevent="$router.replace('/')"><v-icon dark small>chevron_left</v-icon>Back</v-btn>
          <v-btn class="primary" flat small @click.prevent="$store.commit('requisition_create/toggleModal', 'help')"><v-icon dark small></v-icon>Help</v-btn>
      </v-layout>
      
      <v-layout class="pb-4">
        <v-container>
          <v-stepper v-model="e1" class="elevation-0">

            <v-stepper-header  class="elevation-0">
              <v-stepper-step step="1">Step 1</v-stepper-step>
              <v-divider></v-divider>
              <v-stepper-step step="2">Step 2</v-stepper-step>
              <v-divider></v-divider>
              <v-stepper-step step="3">Summary</v-stepper-step>
            </v-stepper-header>

            <v-stepper-items>
              <v-stepper-content step="1">
                <v-layout column>
                    <v-card
                      class="elevation-0"
                    >
                      <step1/>  
                    </v-card>
                    <br/>
                  <v-card>
                    <v-layout>
                      <v-spacer></v-spacer>
                      <v-btn color="primary" @click="() => {
                        
                        nextStep(1)
                        
                        }">Next<v-icon>arrow_forward</v-icon></v-btn>
                    </v-layout>
                  </v-card>
                </v-layout>
              </v-stepper-content>

              <v-stepper-content step="2">
                <v-layout column>
                    <v-card
                      class="elevation-0"
                    >
                      <step2/>  
                    </v-card>
                  <br/>
                  <v-card>
                    <v-layout>
                      <v-btn color="primary" @click="prevStep(2)"><v-icon>arrow_back</v-icon>Previous</v-btn>
                      <v-spacer></v-spacer>
                      <v-btn color="primary" @click="() => {
                        $store.dispatch('requisition/step2HasPR')
                        nextStep(2)
                        }"
                        >Next<v-icon>arrow_forward</v-icon></v-btn>
                    </v-layout>
                  </v-card>
                </v-layout>
              </v-stepper-content>

              <v-stepper-content step="3">
                <v-layout column>
                    <v-card
                      class="elevation-0 pl-5 pr-5"
                    >
                      <stepSummary/>  
                    </v-card>
                  <br/>
                  <v-card>
                    <v-layout>
                      <v-btn color="primary" @click="prevStep(3)"><v-icon>arrow_back</v-icon>Previous</v-btn>
                      <v-spacer></v-spacer>
                      <v-btn color="primary" @click="SUBMIT()">Submit</v-btn>
                    </v-layout>
                  </v-card>
                </v-layout>
              </v-stepper-content>
            </v-stepper-items>

          </v-stepper>
        </v-container>
      </v-layout>

      <!-- MODALS -->
      <helpModal/>

    </v-card>

  </div>
</template>

<script>
import step1 from './step1/index'
import step2 from './step2/index'
import stepSummary from './summary/index'
import helpModal from './help'

export default {
  components: {
    helpModal,
    step1,
    step2,
    stepSummary,
  },
  computed:{
    // step1Validation(){
    //   if(this.$store.state.requisition.viewmodel.step1.project != null && this.$store.state.requisition.viewmodel.step1.authorizer != 0){
    //     return false
    //   }else{
    //     return true
    //   }
    // },
    // step2Validation(){
    //   var selected = this.$store.state.requisition.viewmodel.step2.selectedItems.table.data
    //   if(selected.length == 0){
    //     return true
    //   }else{
    //     return false
    //   }
    // },
    // step3Validation(){
    //   if(this.$store.state.requisition.viewmodel.step2.hasPR == true && this.$store.state.requisition.viewmodel.step2.dateRequired != null){
    //     return false
    //   }else if(this.$store.state.requisition.viewmodel.step2.hasPR == false){
    //     return false
    //   }else{
    //     return true
    //   }
    // }
  },
  methods: {
    SUBMIT () {
      this.$store.dispatch('requisition_create/confirmSubmit')
    },
    nextStep (n) {
      if (n === 4) {
        this.e1 = 1
      } else {
        this.e1 = n + 1
      }
    },
    prevStep (n) {
      this.e1 = n - 1
    },
    cancel () {
      this.$router.push('/')
    }
  },
  data () {
    return {
      e1: 0
    }
  },
  created () {
    this.$store.dispatch('requisition_create/step1ShowAllProjects', true)
  }
}
</script>

<style>

</style>

