<template>
  <div>
      <v-layout row wrap>
          <v-spacer></v-spacer>
          <v-btn flat small @click.prevent="refresh()" class="primary">Refresh</v-btn>
      </v-layout>
      <v-layout>
          <v-flex xs5>
              <v-text-field
                    label="Search Serial Number"
                    append-icon="search"
                    solo
                    ref="search_field"
                    v-model="manage_stocks.viewmodel.details.searchSerial.serialNo"
                    @click:append="searchSerial()" 
                    @keyup.enter="searchSerial()"
                    autofocus
              ></v-text-field>

              <div v-if="manage_stocks.viewmodel.details.searchSerial.field">
                <v-text-field
                  label="Serial Number"
                  readonly
                  v-model="manage_stocks.viewmodel.details.searchSerial.serialItem.product_serial_no"
              ></v-text-field>  
              <v-text-field
                  label="Price"
                  readonly
                  v-model="manage_stocks.viewmodel.details.searchSerial.serialItem.product_price"
              ></v-text-field>
              <v-text-field
                  label="Currency"
                  readonly
                  v-model="manage_stocks.viewmodel.details.searchSerial.serialItem.product_currency"
              ></v-text-field>
              <v-text-field
                  label="PO No."
                  readonly
                  v-model="manage_stocks.viewmodel.details.searchSerial.serialItem.batch_po_no"
              ></v-text-field>
              <v-text-field
                  label="Invoice No."
                  readonly
                  v-model="manage_stocks.viewmodel.details.searchSerial.serialItem.batch_inv_no"
              ></v-text-field>
              <v-text-field
                  label="Supplier"
                  readonly
                  v-model="manage_stocks.viewmodel.details.searchSerial.serialItem.batch_supplier"
              ></v-text-field>
              </div>
              
          </v-flex>
          <v-flex xs2></v-flex>

            <v-flex xs5 v-if="manage_stocks.viewmodel.details.searchSerial.field">
                <Logs />
            </v-flex>

      </v-layout>
  </div>
</template>

<script>
import Logs from './logs'
import {mapState} from 'vuex'
export default {
    computed: mapState(['manage_stocks']),
    components:{
        Logs
    },
    methods:{
        searchSerial(){
            this.$store.dispatch('manage_stocks/showFieldRefresh')
            this.$store.dispatch('manage_stocks/resetSearchedProduct')
            var serialNumber = this.$store.state.manage_stocks.viewmodel.details.searchSerial.serialNo
            console.log("SERIAL NUM", serialNumber)
            if(serialNumber==''){
                this.$store.dispatch('common/toggleSnackbar', 'Search Serial Field is Blank.')
            }else{
               this.$store.dispatch('manage_stocks/setSearchedSerial') 
            }
        },
        refresh(){
            this.$store.state.manage_stocks.viewmodel.details.searchSerial.serialNo = ''
            this.$store.dispatch('manage_stocks/refreshSearchSerial')
            this.$refs["search_field"].focus()
        }
    }
}
</script>

<style>

</style>
