<template>
    <div>
        <!-- <v-data-table
            flat
            hide-actions
            :headers="[
                { text: 'Logs', value: 'log' }
            ]"
            >
            <template slot="" slot-scope="">
            <td class="text-xs-right"></td>
            </template>
        </v-data-table> -->
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
