<script>
import MainComponent from '@/components/transaction/requisition/for-approval'
export default {
    extends: MainComponent,
    layout:'main',
    async fetch({store, app}) {

      await store.dispatch('requisition_for_approval/reset')
      await store.dispatch('requisition_for_approval/list')
    }
}
</script>

<style>

</style>
