<template>
  <v-layout row wrap>
    <v-container>
      
      <v-flex>
        <v-btn 
          small
          class="primary"
          @click.prevent="$store.dispatch('requisition_create/clearSelection')"
          :disabled="$store.state.requisition_create.viewmodel.step2.selectedItems.table.data.length <= 0"
          >
          Clear
        </v-btn>
        <selectedItems/>
        <!-- <v-divider></v-divider> -->
      </v-flex>
      <v-flex class="mt-3">
        <selectionItems/>
      </v-flex>
    
    </v-container>
    
  </v-layout>
</template>

<script>
import selectionItems from './selection-items'
import selectedItems from './selected-items'

export default {
  components: {
    selectionItems,
    selectedItems
  }
}
</script>

<style>

</style>
