<template>
  <div>
    <v-card class="elevation-0">

      <v-layout align-center justify-start row fill-height class="pt-4 pr-4">
        <span class="body-1 font-weight-bold">Stock Requisition Items</span>
      </v-layout>

      <table-template 
          class="elevation-0"
          :model="requisition_create.viewmodel.step2.selectedItems.table" 
          :custom_rows="true"
          >
          <template slot="rows" slot-scope="props">

            <tr :class="props.props.item.qty_pr > 0 ? 'row-stock-requisition-has-pr' : ''">

              <td>
                <span>{{ props.props.item.productNo }}</span>
              </td>
              <td>
                <span>{{ props.props.item.productName }}</span>
              </td>

              <td>
                <span>{{ props.props.item.productBrand }}</span>
              </td>

              <td>
                <span>{{ props.props.item.qty_sr }}</span>
              </td>

              <td>
                <span>{{ props.props.item.qty_pr }}</span>
              </td>

              <td>
                <v-text-field
                  type="number"
                  v-model="props.props.item.qty_minus"
                ></v-text-field>
              </td>
              <td>
                <span>{{ props.props.item.productUnit }}</span>
              </td>
              <td>
                <v-layout>
                  <v-btn small
                  class="primary"
                    @click.prevent="$store.dispatch('requisition_create/step2MinusSR', props.props.item)"
                    :disabled="props.props.item.qty_sr == 0"
                  >
                  -SR 
                  </v-btn>

                  <v-btn small 
                  class="primary"
                    @click.prevent="$store.dispatch('requisition_create/step2MinusPR', props.props.item)"
                    :disabled="props.props.item.qty_pr == 0"
                  >
                  -PR 
                  </v-btn>
                </v-layout>
                
              </td>

            </tr>

          </template>
      </table-template>

    </v-card>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: mapState(['requisition_create']),
}
</script>

<style>

</style>
