<template>
  <div>
    <v-card class="elevation-0">

      <v-layout align-center justify-start row fill-height class="pt-4 pr-4">
        <span class="body-1 font-weight-bold">Stock Requisition Selection Items</span>
      </v-layout>


      <table-template 
          class="elevation-0"
          :model="requisition_create.viewmodel.step2.selectionItems.table" 
          @update:pagination="$store.dispatch('requisition_create/step2PopulateStocksForRequisition')"
          :custom_rows="true"
          >
          <template slot="rows" slot-scope="props">

            <td>
              <span>{{ props.props.item.productNo }}</span>
            </td>
            <td>
              <span>{{ props.props.item.productName }}</span>
            </td>

            <td>
              <span>{{ props.props.item.productBrand }}</span>
            </td>
            <td>
              <span>{{ props.props.item.productCategory }}</span>
            </td>
            <td>
              <span>{{ props.props.item.qty_vb }}</span>
            </td>
            <td>
              <v-text-field
                type="number"
                v-model="props.props.item.qty_add"
              ></v-text-field>
            </td>
            <td>
              <span>{{ props.props.item.productUnit }}</span>
            </td>
            <td>
              <v-layout>
                  <v-btn 
                    small
                    class="primary small-type"
                    @click.prevent="$store.dispatch('requisition_create/step2PlusSR', props.props.item)"
                    :disabled="props.props.item.qty_vb== 0"
                  > 
                    +SR 
                  </v-btn>

                  <v-btn 
                    small 
                    class="primary small-type"
                    @click.prevent="$store.dispatch('requisition_create/step2PlusPR', props.props.item)"
                    :disabled="$store.getters['requisition_create/canPr']"
                  > 
                    +PR 
                  </v-btn>
                
              </v-layout>
              
            </td>

          </template>
      </table-template>


    </v-card>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: mapState(['requisition_create']),
}
</script>

<style>
.small-type{
  margin-left: 5px;
}
</style>
