<template>
  <v-layout column>
    <v-card>
      <v-layout class="ml-4 mr-4">
        <h1 class="display-1 font-weight-bold mt-5">View Stock Information</h1>
      </v-layout>
      <v-layout row wrap class="ml-3 mr-4">
        <v-btn class="primary" flat small @click.prevent="$router.push('/transaction/inventory/')"><v-icon dark small>chevron_left</v-icon>Back</v-btn>
        <v-btn class="primary" flat small @click.prevent="$store.dispatch('inventory_id/loadProduct', { id: manage_stocks.viewmodel.details.header.id, isArchive: false, imgUpdate: true })">Update Images</v-btn>
      </v-layout>
      <v-layout class="ml-4 mr-4 mt-3">
        <v-flex class="mr-3">
          <!-- <span class="font-weight-black">&nbsp;</span> -->
          <v-card class="pa-3 card-transparent" flat>
            <v-layout column>

              <v-checkbox
                :label="'Is Serialized'"
                v-model="inventory_id.viewmodel.product.prod_is_serialized"
                readonly
              ></v-checkbox>

              <v-text-field
                :label="'Stock Number'"
                :value="inventory_id.viewmodel.product.prod_no"
                readonly
                type="text"
              ></v-text-field>

              <v-text-field
                :label="'Stock Name'"
                :value="inventory_id.viewmodel.product.prod_name"
                readonly
                type="text"
              ></v-text-field>

              <v-textarea
                :label="'Stock Description'"
                :value="inventory_id.viewmodel.product.prod_description"
                readonly
                type="text"
                height="80"
              ></v-textarea>

              <v-text-field
                :label="'Quantity Unit'"
                :value="inventory_id.viewmodel.product.prod_unit"
                readonly
                type="text"
              ></v-text-field>

              <v-text-field
                :label="'Brand'"
                :value="inventory_id.viewmodel.product.prod_brand"
                readonly
                type="text"
              ></v-text-field>

              <v-text-field
                :label="'Category'"
                :value="inventory_id.viewmodel.product.prod_category"
                readonly
                type="text"
              ></v-text-field>

              <v-text-field
                :label="'Minimum Quota'"
                :value="inventory_id.viewmodel.product.prod_quota"
                readonly
                type="text"
              ></v-text-field>

              <v-text-field
                :label="'Total Available Price'"
                :value="inventory_id.viewmodel.product.total_available_price"
                readonly
                type="text"
              ></v-text-field>
            </v-layout>

          </v-card>
        </v-flex>
        <v-flex class="mr-3">
          <v-layout column>

            <span class="font-weight-black">Product Images</span>
            <!-- <v-layout row wrap>
              <v-carousel>
                <v-carousel-item
                  v-for="imageItem in manage_stocks.viewmodel.details.header.product_images"
                  :key="imageItem.id"
                  :src="imageItem.image"
                ></v-carousel-item>
              </v-carousel>
            </v-layout> -->

          </v-layout>
        </v-flex>
        <!-- <v-spacer></v-spacer> -->
      </v-layout>
      <v-layout class=" ml-4 mr-4">
        <v-flex>
          <v-tabs class="pt-4">
              <v-tab dark>In Store</v-tab>
              <v-tab-item class="pa-3">
                <inStore />       
              </v-tab-item>

              <v-tab>Out</v-tab>
              <v-tab-item class="pa-3">
                <out />
              </v-tab-item>

              <v-tab v-if="inventory_id.viewmodel.product.prod_is_serialized">Returns</v-tab>
              <v-tab-item v-if="inventory_id.viewmodel.product.prod_is_serialized" class="pa-3">
                <returns /> 
              </v-tab-item>

              <v-tab>Batch History</v-tab>
              <v-tab-item class="pa-3">
                <batchHistory />
              </v-tab-item>

              <v-tab>Chart</v-tab>
              <v-tab-item class="pa-3">
                <chart />
              </v-tab-item>

              <v-tab v-if="inventory_id.viewmodel.product.prod_is_serialized">Search Serial</v-tab>
              <v-tab-item v-if="inventory_id.viewmodel.product.prod_is_serialized" class="pa-3">
                <searchSerialNo /> 
              </v-tab-item>

          </v-tabs>
        </v-flex>
      </v-layout>
    </v-card>
  </v-layout>
</template>

<script>
import { mapState } from 'vuex'

import inStore from './in-store/index'
import out from './out/index'
import returns from './returns/index'
import batchHistory from './batch-history/index'
// import chart from './chart/index'
// import searchSerialNo from './search-serial-no/index'

export default {
  computed: {
    ...mapState(['inventory_id']),
  },
  components : {
    inStore,
    out,
    returns,
    batchHistory,
    // chart,
    // searchSerialNo
  },
  methods: {
    MomentHelper (date) {
      return MomentHelper(date)
    }
  }
}
</script>
