<script>
import MainComponent from '@/components/transaction/requisition/approve/advance'
export default {
    extends: MainComponent,
    layout:'main',
    async fetch({store, route, app}) {

      await store.dispatch('requisition_approve_advance/reset')

      await store.dispatch('requisition_approve_advance/fetchRequisition', route.params.id)
      await store.dispatch('requisition_approve_advance/populateStockReqTable')
      await store.dispatch('requisition_approve_advance/populatePurchaseReqTable')
    }
}
</script>

<style>

</style>
