<script>
import MainComponent from '@/components/transaction/requisition/approve/basic'
export default {
    extends: MainComponent,
    layout:'main',
    async fetch({store, route, app}) {

      await store.dispatch('requisition_approve_basic/reset')

      await store.dispatch('requisition_approve_basic/fetchRequisition', route.params.id)
      await store.dispatch('requisition_approve_basic/populateStockReqTable')
      await store.dispatch('requisition_approve_basic/populatePurchaseReqTable')
    }
}
</script>

<style>

</style>
