<template>
  <div>
    <v-card>

      <v-layout class="ml-4 mr-4">
          <h1 class="display-1 font-weight-bold mt-5">Manual Add</h1>
      </v-layout>

      <v-layout class="ml-4 mr-4">
          <div>Step by step acqusiition for selected product.</div>
      </v-layout>

      <v-layout>
        <v-expansion-panel focusable>
          <v-expansion-panel-content>
            <div slot="header">
              <v-text-field
                :label="'Stock Number'"
                :value="acquisition_manual_add.viewmodel.currentProduct.prod_no"
                readonly
              ></v-text-field>
            </div>
            <v-layout class="pl-5 pr-5">
              <v-card width="100%" flat>
                  <v-container>
                    <v-layout row>
                      <v-flex class="ma-3">
                        <v-layout column>
                          <v-text-field
                            :label="'Stock Number'"
                            v-model="acquisition_manual_add.viewmodel.currentProduct.prod_no"
                            readonly
                            type="text"
                          ></v-text-field>

                          <v-text-field
                            :label="'Stock Name'"
                            v-model="acquisition_manual_add.viewmodel.currentProduct.prod_name"
                            readonly
                            type="text"
                          ></v-text-field>

                          <v-text-field
                            :label="'Stock Description'"
                            v-model="acquisition_manual_add.viewmodel.currentProduct.prod_description"
                            readonly
                            type="text"
                          ></v-text-field>

                          <v-text-field
                            :label="'Quantityt Unit'"
                            v-model="acquisition_manual_add.viewmodel.currentProduct.prod_unit"
                            readonly
                            type="text"
                          ></v-text-field>
                        </v-layout>
                      </v-flex>
                      <v-flex class="ma-3">
                        <v-layout column>

                          <v-checkbox
                            :label="'Is Serialized'"
                            v-model="acquisition_manual_add.viewmodel.currentProduct.prod_is_serialized"
                            readonly
                          ></v-checkbox>

                          <v-text-field
                            :label="'Brand'"
                            v-model="acquisition_manual_add.viewmodel.currentProduct.prod_brand"
                            readonly
                            type="text"
                          ></v-text-field>

                          <v-text-field
                            :label="'Category'"
                            v-model="acquisition_manual_add.viewmodel.currentProduct.prod_category"
                            readonly
                            type="text"
                          ></v-text-field>

                        </v-layout>
                      </v-flex>
                    </v-layout>
                  </v-container>
              </v-card>
            </v-layout>
            <br/>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-layout>

      <v-layout column>
        <v-stepper v-model="e1" class="elevation-0">
          <v-stepper-header  class="elevation-0">
            <v-stepper-step step="1">Basic Details</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step step="2">Transaction Details</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step step="3">
              {{ acquisition_manual_add.viewmodel.currentProduct.prod_is_serialized ? 'Serialized Items' : 'Consumable Count' }}
            </v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step step="4">Summary</v-stepper-step>
          </v-stepper-header>

          <v-stepper-items>
            <v-stepper-content step="1">
              <v-layout column>
                  <v-card
                    class="elevation-0 pl-5 pr-5"
                  >
                    <step1/>  
                  </v-card>
                  <br/>
                <v-card>
                  <v-layout>
                    <v-btn color="primary"  @click="cancel()" ><v-icon>cancel</v-icon>Cancel</v-btn>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" :disabled="!$store.getters['acquisition_manual_add/enableStep1']" @click="nextStep(1)">Next<v-icon>arrow_forward</v-icon></v-btn>
                  </v-layout>
                </v-card>
              </v-layout>
            </v-stepper-content>

            <v-stepper-content step="2">
              <v-layout column>
                  <v-card
                    class="elevation-0 pl-5 pr-5"
                  >
                    <step2/>  
                  </v-card>
                <br/>
                <v-card>
                  <v-layout>
                    <v-btn color="primary" @click="prevStep(2)"><v-icon>arrow_back</v-icon>Previous</v-btn>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" @click="nextStep(2)">Next<v-icon>arrow_forward</v-icon></v-btn>
                  </v-layout>
                </v-card>
              </v-layout>
            </v-stepper-content>
            <v-stepper-content step="3">
              <v-layout column>
                  <v-card
                    class="elevation-0 pl-5 pr-5"
                  >
                    <step3/>  
                  </v-card>
                <br/>
                <v-card>
                  <v-layout>
                    <v-btn color="primary" @click="prevStep(3)"><v-icon>arrow_back</v-icon>Previous</v-btn>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" :disabled="!$store.getters['acquisition_manual_add/enableStep3']" @click="nextStep(3)">Next<v-icon>arrow_forward</v-icon></v-btn>
                  </v-layout>
                </v-card>
              </v-layout>
            </v-stepper-content>
            <v-stepper-content step="4">
              <v-layout column>
                  <v-card
                    class="elevation-0 pl-5 pr-5"
                  >
                    <step4/>  
                  </v-card>
                <br/>
                <v-card>
                  <v-layout>
                    <v-btn color="primary" @click="prevStep(4)"><v-icon>arrow_back</v-icon>Previous</v-btn>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" @click="SUBMIT()">Submit</v-btn>
                  </v-layout>
                </v-card>
              </v-layout>
            </v-stepper-content>
          </v-stepper-items>

        </v-stepper>
      </v-layout>

    </v-card>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import step1 from './step1.vue'
import step2 from './step2.vue'
import step3 from './step3.vue'
import step4 from './step4.vue'

export default {
  computed: mapState(['acquisition_manual_add']),
  components: {
    step1,
    step2,
    step3,
    step4
  },
  data () {
    return {
      e1: 1
    }
  },
  methods: {
    SUBMIT () {
      this.$store.dispatch('acquisition_manual_add/SUBMIT_FORM')
    },
    nextStep (n) {
      if (n === 4) {
        this.e1 = 1
      } else {
        this.e1 = n + 1
      }
    },
    prevStep (n) {
      this.e1 = n - 1
    },
    cancel () {
      let product = this.$store.getters['acquisition_manual_add/getProduct']
      this.$router.push(`/transaction/inventory/${product.prod_id}`)
    }
  }
}
</script>
