<template>
  <v-layout column>
    
    <v-layout row>
        <v-flex class="ma-2" xs4>
              <input-field 
                v-model="acquisition_manual_add.viewmodel.form_temp.item_condition"
                :type="'Object'"
                :label="'Item condition'"
                :ditems="$store.getters['maintenance/getItemConditions']"
                :dtext="'description'"
                :dvalue="'id'"
                disabled
                >
              </input-field>


              <input-field 
                v-model="acquisition_manual_add.viewmodel.form_temp.currency"
                :type="'Object'"
                :label="'Currency'"
                :ditems="$store.getters['maintenance/getCurrencies']"
                :dtext="'description'"
                :dvalue="'id'"
                disabled
                >
              </input-field>

              <v-text-field
                v-model="acquisition_manual_add.viewmodel.form_temp.total_price"
                :label="'Price'"
                type="number"
                disabled
              ></v-text-field>


              <v-text-field
                v-model="acquisition_manual_add.viewmodel.form_temp.total_quantity"
                :label="'Quantity'"
                type="number"
                disabled
              ></v-text-field>
        </v-flex>
    </v-layout>
  </v-layout>
</template>

<script>
import { mapState } from 'vuex'
export default {
  computed: mapState(['acquisition_manual_add']),
}
</script>
