<template>
    <v-layout row>
      <v-flex>
        <table-template 
            class="elevation-0"
            :model="acquisition_manual_add.viewmodel.form.stocks"
            list
            :custom_rows="true"
            >
            <template slot="rows" slot-scope="props">
              <tr class="pa-3">
                <td>
                  <v-text-field
                    v-model="props.props.item.serial_number"
                    :error-messages="props.props.item.serial_number_error"
                    disabled
                  ></v-text-field>
                </td>
                <td class="text-xs-left">

                  <input-field 
                    v-model="props.props.item.acquisition_items[0].item_condition"
                    :error="props.props.item.acquisition_items[0].item_condition_error"
                    :type="'Object'"

                    :ditems="$store.getters['maintenance/getItemConditions']"
                    :dtext="'description'"
                    :dvalue="'id'"
                    disabled
                    >
                  </input-field>
                </td>
                <td class="text-xs-left">

                  <input-field 
                    v-model="props.props.item.acquisition_items[0].currency"
                    :error="props.props.item.acquisition_items[0].currency_error"
                    :type="'Object'"

                    :ditems="$store.getters['maintenance/getCurrencies']"
                    :dtext="'description'"
                    :dvalue="'id'"
                    disabled
                    >
                  </input-field>
                </td>
                <td>
                  <v-text-field
                    v-model="props.props.item.acquisition_items[0].price"
                    :error-messages="props.props.item.acquisition_items[0].price_error"
                    disabled
                  ></v-text-field>
                </td>
              </tr>

            </template>
        </table-template>
      </v-flex>
    </v-layout>
</template>

<script>
import { mapState } from 'vuex'
export default {
  computed: mapState(['acquisition_manual_add']),
}
</script>
