<template>
  <v-layout column>
    
    <v-layout row>
        <v-flex class="ma-2" xs4>
              <v-combobox
                v-model="acquisition_manual_add.viewmodel.form_temp.serials"
                hide-selected
                label="Serial Numbers"
                multiple
                persistent-hint
                small-chips
                hint="Duplicate Serial Numbers are not allowed."
                box
              >
              </v-combobox>

              <br/><br/>

              <input-field 
                v-model="acquisition_manual_add.viewmodel.form_temp.item_condition"
                :type="'Object'"
                :label="'Item condition'"
                :ditems="$store.getters['maintenance/getItemConditions']"
                :dtext="'description'"
                :dvalue="'id'"
                >
              </input-field>


              <input-field 
                v-model="acquisition_manual_add.viewmodel.form_temp.currency"
                :type="'Object'"
                :label="'Currency'"
                :ditems="$store.getters['maintenance/getCurrencies']"
                :dtext="'description'"
                :dvalue="'id'"
                >
              </input-field>

              <v-text-field
                v-model="acquisition_manual_add.viewmodel.form_temp.total_price"
                :label="'Price'"
                type="number"
              ></v-text-field>

              <v-layout>
                <v-btn class="primary" 
                  flat 
                  @click="$store.commit('acquisition_manual_add/addSerializedStock')"
                  :disabled="$store.getters['acquisition_manual_add/getStocksLength'] > 0"
                  >
                    <v-icon>add</v-icon>
                    Add Batch
                </v-btn>
                <v-btn class="primary" 
                  flat 
                  @click="$store.commit('acquisition_manual_add/updateSerializedStock')"
                  :disabled="$store.getters['acquisition_manual_add/getStocksLength'] <= 0"
                  >
                    <v-icon>add</v-icon>
                    Update Batch
                </v-btn>
              </v-layout>
        </v-flex>
    </v-layout>

    <v-layout row>
      <v-flex>
        <table-template 
            class="elevation-0"
            :model="acquisition_manual_add.viewmodel.form.stocks"
            list
            :custom_rows="true"
            >
            <template slot="rows" slot-scope="props">
              <tr class="pa-3">
                <td>
                  <v-text-field
                    v-model="props.props.item.serial_number"
                    :error-messages="props.props.item.serial_number_error"
                    disabled
                  ></v-text-field>
                </td>
                <td class="text-xs-left">

                  <input-field 
                    v-model="props.props.item.acquisition_items[0].item_condition"
                    :error="props.props.item.acquisition_items[0].item_condition_error"
                    :type="'Object'"

                    :ditems="$store.getters['maintenance/getItemConditions']"
                    :dtext="'description'"
                    :dvalue="'id'"
                    disabled
                    >
                  </input-field>
                </td>
                <td class="text-xs-left">

                  <input-field 
                    v-model="props.props.item.acquisition_items[0].currency"
                    :error="props.props.item.acquisition_items[0].currency_error"
                    :type="'Object'"

                    :ditems="$store.getters['maintenance/getCurrencies']"
                    :dtext="'description'"
                    :dvalue="'id'"
                    disabled
                    >
                  </input-field>
                </td>
                <td>
                  <v-text-field
                    v-model="props.props.item.acquisition_items[0].price"
                    :error-messages="props.props.item.acquisition_items[0].price_error"
                    disabled
                  ></v-text-field>
                </td>
              </tr>

            </template>
        </table-template>
      </v-flex>
    </v-layout>
  </v-layout>
</template>

<script>
import { mapState } from 'vuex'
export default {
  computed: mapState(['acquisition_manual_add']),
  data () {
    return {
      menu: false,
      expand: false
    }
  }
}
</script>
