<template>
  <v-layout row>
    <v-flex xs5>

      <input-field 
        :type="'Date'"
        v-model="acquisition_manual_add.viewmodel.form.acquired_date"
        :error="acquisition_manual_add.viewmodel.form.acquired_date_error"
        :label="'Acquired date'"
        :icon="'event'"
        >
      </input-field>

      <br/>

      <input-field 
        v-model="acquisition_manual_add.viewmodel.form.warehouse"
        :error="acquisition_manual_add.viewmodel.form.warehouse_error"
        :type="'Object'"
        :label="'Location'"

        :ditems="$store.getters['maintenance/getWarehouses']"
        :dtext="'name'"
        :dvalue="'id'"
        :icon="'store'"
        >
      </input-field>

      <input-field 
        v-model="acquisition_manual_add.viewmodel.form.supplier"
        :error="acquisition_manual_add.viewmodel.form.supplier_error"
        :type="'Object'"
        :label="'Supplier'"

        :ditems="$store.getters['maintenance/getSuppliers']"
        :dtext="'name'"
        :dvalue="'id'"
        :icon="'group'"
        >
      </input-field>
      
    </v-flex>
    <v-flex xs7></v-flex>
  </v-layout>
</template>

<script>
import { mapState } from 'vuex'
export default {
  computed: mapState(['acquisition_manual_add']),
  data () {
    return {
      menu: false
    }
  }
}
</script>

<style>

</style>
