<template>
  <serialized v-if="acquisition_manual_add.viewmodel.currentProduct.prod_is_serialized === true"/>
  <consumable v-else-if="acquisition_manual_add.viewmodel.currentProduct.prod_is_serialized === false"/>
  <div v-else>
    No Product
  </div>
</template>

<script>
import { mapState } from 'vuex'
import serialized from './step3-serialized'
import consumable from './step3-consumable'

export default {
  computed: mapState(['acquisition_manual_add']),
  components: {
    serialized,
    consumable
  }
}
</script>

<style>

</style>
