<template>
  <v-layout row>
    <v-flex xs5>
      
      <v-text-field
        v-model="acquisition_manual_add.viewmodel.form.po_no"
        :error-messages="acquisition_manual_add.viewmodel.form.po_no_error"
        :label="'Purchase Order Number'"
        :prepend-icon="'confirmation_number'"
      ></v-text-field>

      <v-text-field
        v-model="acquisition_manual_add.viewmodel.form.inv_no"
        :error-messages="acquisition_manual_add.viewmodel.form.inv_no_error"
        :label="'Invoice Number'"
        :prepend-icon="'confirmation_number'"
      ></v-text-field>

    </v-flex>
    <v-flex xs7></v-flex>

  </v-layout>
</template>

<script>
import { mapState } from 'vuex'
export default {
  computed: mapState(['acquisition_manual_add']),
}
</script>

<style>

</style>
