<template>
  <v-layout column>

    <v-container>
      <v-layout align-center justify-center row fill-height wrap>
          <v-flex xs12 lg5>

            <input-field 
              disabled
              v-model="acquisition_manual_add.viewmodel.form.warehouse"
              :error="acquisition_manual_add.viewmodel.form.warehouse_error"
              :type="'Object'"
              :label="'Location'"

              :ditems="$store.getters['maintenance/getWarehouses']"
              :dtext="'name'"
              :dvalue="'id'"
              :icon="'store'"
              >
            </input-field>

            <input-field
              disabled
              v-model="acquisition_manual_add.viewmodel.form.supplier"
              :error="acquisition_manual_add.viewmodel.form.supplier_error"
              :type="'Object'"
              :label="'Supplier'"

              :ditems="$store.getters['maintenance/getSuppliers']"
              :dtext="'name'"
              :dvalue="'id'"
              :icon="'group'"
              >
            </input-field>

            <input-field
              disabled
              :type="'Date'"
              v-model="acquisition_manual_add.viewmodel.form.acquired_date"
              :error="acquisition_manual_add.viewmodel.form.acquired_date_error"
              :label="'Acquired date'"
              :icon="'event'"
              >
            </input-field>
          </v-flex>
          <v-flex xs12 lg5>
          <v-text-field
            disabled
            v-model="acquisition_manual_add.viewmodel.form.po_no"
            :error-messages="acquisition_manual_add.viewmodel.form.po_no_error"
            :label="'Purchase Order Number'"
            :prepend-icon="'confirmation_number'"
          ></v-text-field>

          <v-text-field
            disabled
            v-model="acquisition_manual_add.viewmodel.form.inv_no"
            :error-messages="acquisition_manual_add.viewmodel.form.inv_no_error"
            :label="'Invoice Number'"
            :prepend-icon="'confirmation_number'"
          ></v-text-field>
            <v-text-field
              disabled
              :value="$auth.user.username"
              :label="'Acquired By'"
              :prepend-icon="'person'"
              readonly
            ></v-text-field>
          </v-flex>
      </v-layout>
    </v-container>
    

  <v-container>
    <v-layout>
      <v-flex class="ma-2">

        <serialized v-if="acquisition_manual_add.viewmodel.currentProduct.prod_is_serialized === true"/>
        <consumable v-else-if="acquisition_manual_add.viewmodel.currentProduct.prod_is_serialized === false"/>
        <div v-else>
          No Product
        </div>

      </v-flex>
    </v-layout>
  </v-container>

  </v-layout>
</template>

<script>
import { mapState } from 'vuex'
import serialized from './step4-serialized'
import consumable from './step4-consumable'


export default {
  computed: mapState(['acquisition_manual_add']),
  data () {
    return {
      menu: false,
      expand: false,
    }
  },
  components: {
    serialized,
    consumable
  }
}
</script>
