<script>
import MainComponent from '@/components/maintenance/warehouse/index'
import { urlMasters } from '@/api/urls.js'

export default {
    extends: MainComponent,
    layout:'main',
    async fetch({store, route, app}) {

      store.dispatch('master/reset')
      store.dispatch('master/setModuleName', 'Warehouse')
      store.dispatch('master/setModule', 'Warehouse')

      store.dispatch('master/setHeaders',
        [
          { readonly: false, icon: 'text_format', type: 'String', text: 'Warhouse No', value: 'warehouse_no', align: 'left' },
          { readonly: false, icon: 'text_format', type: 'String', text: 'Code', value: 'code', align: 'left' },
          { readonly: false, icon: 'text_format', type: 'String', text: 'Name', value: 'name', align: 'left' },
          { readonly: false, icon: 'location_on', type: 'String', text: 'Location', value: 'location', align: 'left' },
          { readonly: false, icon: 'text_format', type: 'String', text: 'Coordinates', value: 'coordinates', align: 'left', masking: '' },
          { readonly: false, icon: 'person', type: 'String', text: 'Contact Person', value: 'contact_person', align: 'left' },
          { readonly: false, icon: 'text_format', type: 'String', text: 'Contact Email', value: 'contact_email', align: 'left' },
          { readonly: false, icon: 'text_format', type: 'String', text: 'Contact Number', value: 'contact_number', align: 'left' },
          { readonly: false, icon: 'text_format', type: 'Boolean', text: 'Stock Visible', value: 'is_stock_visible', align: 'left' },

          { readonly: false, icon: null, type: null, text: 'Actions', value: null, align: 'left', width: '50px;', sortable: false}
        ]
      )
    }
}
</script>

<style>

</style>
