<template>
  <div id="app" >
  <v-app id="inspire" style="background-color:transparent; " >
    <v-content >
      <v-container fluid fill-height style="
    padding-top: 0px;
    padding-bottom: 0px;">
        <v-layout align-center justify-center >
          <v-flex xs12 sm12 md6 lg6 xl4>
            <v-card class="elevation-12">
              <v-layout>
                <img class="mt-3 ml-3" src="" >
              </v-layout>
              <v-card-title primary-title>
                <span class="headline mb-0 font-weight-bold">System Title Here</span>
              </v-card-title>
              <v-card-text>
                <v-form>
                  <v-text-field prepend-icon="person" name="username" @keyup.enter="login()"
              v-model="form_data.username" label="Username" type="text" autofocus></v-text-field>
                  <v-text-field prepend-icon="lock" name="password" @keyup.enter="login()"
              v-model="form_data.password" label="Password" id="password" type="password"></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-btn flat small @click.prevent="$router.replace('/forgot-password')">Forgot Password?</v-btn>
                <v-spacer></v-spacer>
                <v-btn color="primary" @click.prevent="login()">Login</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</div>
</template>

<script>
export default {
    layout: 'login',
    data () {
        return{
            error_messages: {},
            form_data:{
                username: '',
                password : ''
            }
        }
    },
    methods: {
      login () {
        this.error = null
        return this.$auth
          .loginWith('local', {
            data: {
              username: this.form_data.username,
              password: this.form_data.password
            }
          })
          .then((res) => {
            // var redirectUrl = this.$store.getters['authentication/getRedirectUrl']

            // if (redirectUrl) 
            //   this.$router.replace(redirectUrl)
            // else 
            //   this.$router.replace('/')
          })
          .catch(e => {
            this.form_data.password = ''
            // this.$store.dispatch('common/toggleSnackbar', 'Incorrect Username or Password')
          })
      }
  }
}
</script>

<style>
#inspire{
  overflow-y: hidden;
}
</style>

