<script>
import MainComponent from '@/components/maintenance/client/index'
export default {
    extends: MainComponent,
    layout:'main',
    fetch({store, app}) {
      store.dispatch('master/reset')
      store.dispatch('master/setModuleName', 'Clients')
      store.dispatch('master/setModule', 'Client')
      store.dispatch('master/setHeaders',
        [
          { readonly: true, icon: 'text_format', type: 'String', text: 'Client No', value: 'client_no', align: 'left' },
          { readonly: false, icon: 'text_format', type: 'String', text: 'Client Code', value: 'code', align: 'left' },
          { readonly: false, icon: 'text_format', type: 'String', text: 'Client Name', value: 'name', align: 'left' },
          { readonly: false, icon: 'text_format', type: 'String', text: 'Contact Person', value: 'contact_person', align: 'left' },
          { readonly: false, icon: 'text_format', type: 'String', text: 'Contact Email', value: 'contact_email', align: 'left' },
          { readonly: false, icon: 'text_format', type: 'String', text: 'Contact Number', value: 'contact_number', align: 'left' },
          { readonly: false, icon: 'text_format', type: 'String', text: 'Website', value: 'contact_website', align: 'left' },
          { readonly: false, icon: 'text_format', type: 'String', text: 'Remarks', value: 'remarks', align: 'left' },
          { readonly: false, icon: 'text_format', type: 'String', text: 'No of Projects', value: 'no_of_projects', align: 'left' },

          { readonly: false, icon: null, type: null, text: 'Actions', value: null, align: 'left', width: '50px;', sortable: false}
        ]
      )
    }
}
</script>

<style>

</style>
