<template>
  <div>
    <v-card>

      <v-layout row wrap>
        <v-flex xs5>
          <v-layout class="ml-4 mr-4">
            <h1 class="display-1 font-weight-bold mt-5">Project Details</h1>
          </v-layout>

          <v-layout row wrap class="ml-3 mr-4">
            <v-btn class="primary" flat small @click.prevent="$router.replace('/maintenance/project')"><v-icon dark small>chevron_left</v-icon>Back</v-btn>
          </v-layout>

          <v-layout class="ml-4 mr-4 mt-3" style="max-width:1320px">
            <v-flex class="">
              <v-text-field
                :value="selectedProject.name"
                :label="'Project Client'"
                readonly
              ></v-text-field>

              <v-text-field
                v-model="selectedProject.name"
                :label="'Project Name'"
                readonly
              ></v-text-field>

              <v-textarea
                v-model="selectedProject.description"
                :label="'Project Description'"
                readonly
                no-resize
              ></v-textarea>

              <input-field 
                :type="'Date'"
                v-model="selectedProject.date_start"
                :label="'Start Date'"
                readonly
                >
              </input-field>

              <input-field 
                :type="'Date'"
                v-model="selectedProject.date_end"  
                :label="'End Date'"
                readonly
                >
              </input-field>
            </v-flex>
          </v-layout>
        </v-flex>

        <v-flex xs7 class="mt-5">
            <!-- <gMap /> -->
        </v-flex>

      </v-layout>
      <br>
    </v-card>

    <!-- CARDS BREAK -->
    <br>

    <v-card>
      <v-layout class="ml-4 mr-4">
        <h1 class="display-1 font-weight-bold mt-5">{{ master.viewmodel.module_name }}</h1>
      </v-layout>

      <v-layout row wrap class="ml-3 mr-4">
        <!-- <v-btn class="primary" flat small @click.prevent="$router.replace('/maintenance/project')"><v-icon dark small>chevron_left</v-icon>Back</v-btn> -->
        <v-btn class="primary" flat small @click.prevent="$store.dispatch('master/list')"><v-icon dark small>refresh</v-icon>&nbsp;Refresh</v-btn>
        <v-btn class="primary" flat small @click.prevent="$store.dispatch('master/showModal', { id: null, isArchive: false })"><v-icon dark small>add</v-icon>&nbsp;Add</v-btn>
        <v-menu offset-y>
          <template slot="activator">
              <v-btn
              class="primary"
              flat small
              open-on-click
              ><v-icon dark small>import_export</v-icon>
              Export
              </v-btn>
          </template>
          <v-list>

              <v-list-tile>
                  <v-list-tile-title style="cursor:pointer">
                      <download-excel :data="master.viewmodel.index.table.data" :fields="master.viewmodel.index.table.search.fields" :name="excelName">
                          Excel
                      </download-excel>
                  </v-list-tile-title>
              </v-list-tile>

              <v-list-tile>
                  <v-list-tile-title style="cursor:pointer">
                      <download-excel :data="master.viewmodel.index.table.data" :fields="master.viewmodel.index.table.search.fields" type="csv" :name="csvName">
                          CSV
                      </download-excel>
                  </v-list-tile-title>
              </v-list-tile>

              <v-list-tile @click.prevent="exportPDF()">
                  <v-list-tile-title>PDF</v-list-tile-title>
              </v-list-tile>

          </v-list>
        </v-menu>
      </v-layout>

      <v-layout class="ml-4 mr-4 mt-3" style="max-width:1320px">
          <!-- <v-autocomplete
            v-model="master.viewmodel.index.table.search.field"
            :items="master.viewmodel.index.table.headers"
            label="Search by field"
            dense
            style="max-width:275px;"
            autocomplete
          ></v-autocomplete> -->
          <v-text-field solo
            v-model="master.viewmodel.index.table.search.value"
            append-icon="search"
            label="Search keyword"
            @click:append="$store.dispatch('master/list')"
            @keypress.enter.prevent="$store.dispatch('master/list')"
          ></v-text-field>
        <v-spacer></v-spacer>
      </v-layout>


      <v-layout class="pl-4 pr-4 pb-4">
        <v-flex>
          <table-template 
              class="elevation-0"
              :model="master.viewmodel.index.table" 
              @update:pagination="$store.dispatch('master/list')"
              :actions="[
                  { title: 'edit', key: 'id', method: (id) => { $store.dispatch('master/showModal', { id: id, isArchive: false }) } },
                  { title: 'delete', key: 'id', method: (id) => { $store.dispatch('master/showModal', { id: id, isArchive: true }) } },
                  { title: 'View More', key: 'id', method: (id) => { $router.push('/maintenance/project/' + id) } }]"
              >
          </table-template>
        </v-flex>
      </v-layout>
    </v-card>

    <!-- MODAL -->
    <formmodal/>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import formmodal from '@/components/master/form-modal'
import { MomentHelper } from '@/helpers/moment.js'
import table from '@/helpers/tableHelper'
// import gMap from './map'

export default {
  computed: {
    ...mapState(['master']),
    excelName(){
      return this.$store.state.master.viewmodel.module+'.xls'
    },
    csvName(){
      return this.$store.state.master.viewmodel.module+'.csv'
    }
  },
  components : {
    formmodal,
    // gMap
  },
  methods: {
    MomentHelper (date) {
      return MomentHelper(date)
    },
    Camel (text) {
      return text.charAt(0).toUpperCase() + text.slice(1);
    },
    exportPDF(){
      table.exportToPDF(this.$store.getters['master/getTable'], this.$store.state.master.viewmodel.module)
    },
    getProject (client) {
      this.$router.push('/project?client=' + client.id + '&name='+ client.name)
    },
  }
}
</script>

<style>

</style>
