<template>
<v-layout fill-height style="max-width:705px;">

  <GmapMap
    ref="gmap"
    v-bind:center="center"
    v-bind:zoom="16"
    map-type-id="terrain"
    style="width: 700px; height: 540px"
  >
    <GmapMarker
      v-bind:key="index"
      v-for="(m, index) in markers"
      v-bind:position="m.position"
      v-bind:draggable="true"
      v-bind:clickable="true"
      
    />
  </GmapMap>

</v-layout>
</template>

<script>
import {mapState} from 'vuex'
import config_helper from '@/helpers/config_helper.js'

  export default {
    computed: mapState(['project_locations']),
    data() {
      return {
        markers: [],
        center: null
      };
    },
    mounted() {
      this.plotMarkers ()

      //set bounds of the map
      this.$refs.gmap.$mapPromise.then((map) => {
        var bounds = new google.maps.LatLngBounds()
        for (let m of this.markers) {
          bounds.extend(m.position)
        }
        map.fitBounds(bounds);
        map.panTo(bounds)
      });
    },
    methods:{
      plotMarkers () {
        let table = this.$store.getters['master/getTable']
        let data = table.data

        var coordinates = []

        if (data && data.length > 0) {

          data.forEach(item => {
            if (item.coordinates) {

              var coord1 = 0
              var coord2 = 0
        
              var splitedValue = item.coordinates.split(',')
        
              if (splitedValue && splitedValue.length > 0 && splitedValue.length === 2) {
        
                coord1 = parseFloat(splitedValue[0])
                coord2 = parseFloat(splitedValue[1])
        
              }
              
              coordinates.push({position: { lat: parseFloat(coord1), lng: parseFloat(coord2) }})
            }
          });
        }
        else {

          var defaultcoords = config_helper.GetValue('default_map_location')

          var lat = 0
          var lng = 0
      
          var splited = defaultcoords.split(',')
      
          if (splited && splited.length > 0 && splited.length === 2) {
            lat = parseFloat(splited[0])
            lng = parseFloat(splited[1])
          }
      
          this.center = { lat: lat, lng: lng }
        }
      }
    }
  };
</script>