<script>
import MainComponent from '@/components/transaction/requisition/manage/details'
export default {
    extends: MainComponent,
    layout:'main',
    async fetch({store, route, app}) {

      await store.dispatch('requisition_manage_id/reset')

      await store.dispatch('requisition_manage_id/fetchRequisition', route.params.id)
      await store.dispatch('requisition_manage_id/populateStockReqTable')
      await store.dispatch('requisition_manage_id/populatePurchaseReqTable')
      await store.dispatch('requisition_manage_id/populateCheckoutsTable')
    }
}
</script>

<style>

</style>
