<script>
import MainComponent from '@/components/transaction/requisition/manage/index'
export default {
    extends: MainComponent,
    layout:'main',
    async fetch({store, app}) {

      await store.dispatch('requisition_manage/reset')
    }
}
</script>

<style>

</style>
