<template>
    <v-layout column>
        <v-card>
            <v-layout class="ml-4 mr-4">
                <h1 class="display-1 font-weight-bold mt-5">View Stock Requisition</h1>
            </v-layout>
            <v-layout row wrap class="mb-4 ml-3 mr-4">
                <v-btn class="primary" flat small @click.prevent="$router.replace('/transaction/requisition/manage/')"><v-icon dark small>chevron_left</v-icon>Back</v-btn>
                <v-btn class="primary" flat small @click.prevent="refresh()"><v-icon dark small>refresh</v-icon>&nbsp;Refresh</v-btn>
                <v-btn class="primary" flat small ><v-icon dark small>picture_as_pdf</v-icon>&nbsp;PDF</v-btn>
                <v-btn class="primary" flat small @click.prevent="$store.commit('requisition_manage_id/toggleModal', 'help')"><v-icon dark small></v-icon>Help</v-btn>
                <v-btn class="primary" flat small @click.prevent="$store.commit('requisition_manage_id/toggleModal', 'resend')" :hidden="resend"><v-icon dark small></v-icon>Resend for Approval</v-btn>
            </v-layout>
            <v-layout class="ml-5 mr-5 pb-0">
                <v-flex xs5>
                    <v-text-field label="Stock Requisition No" v-model="requisition_manage_id.viewmodel.requisition.requisition_no" readonly></v-text-field>
                    <v-text-field label="Requestor" v-model="requisition_manage_id.viewmodel.requisition.requestor.username"  readonly></v-text-field>
                    <v-text-field label="Requested On" :value="MomentHelper(requisition_manage_id.viewmodel.requisition.created)"   readonly></v-text-field>
                    <v-text-field label="Project"  v-model="requisition_manage_id.viewmodel.requisition.project.name"  readonly></v-text-field>
                    <v-textarea label="Remarks" v-model="requisition_manage_id.viewmodel.requisition.remarks" no-resize readonly></v-textarea>
                </v-flex>
                <v-flex xs2></v-flex>
                <v-flex xs5>
                    <v-text-field label="Status" v-model="requisition_manage_id.viewmodel.requisition.status"  readonly></v-text-field>
                    <!-- <div :hidden="(requisition_manage_id.viewmodel.requisition.approved_date) == null? true : false" >
                        <v-text-field label="Approved By" v-model="requisition_manage_id.viewmodel.requisition.approver.name" readonly></v-text-field>
                        <v-text-field label="Approved On"  :value="MomentHelper(requisition_manage_id.viewmodel.requisition.approved_date)"   readonly></v-text-field>
                    </div> -->
                </v-flex>
            </v-layout>
            <v-layout class="ml-4 mr-4">
                <span class="body-1 font-weight-bold mt-5">Stock Request Items</span>
            </v-layout>
            <v-layout class="ml-4 mr-4">
                <v-flex>
                    <table-template 
                        class="elevation-0"
                        :model="requisition_manage_id.viewmodel.sr_items.table" 
                        @update:pagination="$store.dispatch('requisition_manage_id/populateStockReqTable')"
                        >
                    </table-template>
                </v-flex>
            </v-layout>
            <v-layout class="ml-4 mr-4">
                <span class="body-1 font-weight-bold mt-5">Purchase Request Items (Required by {{ MomentHelper(requisition_manage_id.viewmodel.requisition.requiredDate) }})</span>
            </v-layout>
            <v-layout class="ml-4 mr-4">
                <v-flex>
                    <table-template 
                        class="elevation-0"
                        :model="requisition_manage_id.viewmodel.pr_items.table" 
                        @update:pagination="$store.dispatch('requisition_manage_id/populatePurchaseReqTable')"
                        >
                    </table-template>
                </v-flex>
            </v-layout>
            <v-layout row wrap class="ml-4 mr-4">
                <v-btn flat small class="primary" ><v-icon dark small>picture_as_pdf</v-icon>&nbsp;Download as PDF</v-btn>
            </v-layout>
            <v-layout class="ml-4 mr-4 mb-4">
                <span class="body-1 font-weight-bold mt-5">Checkouts</span>
            </v-layout>
            <v-layout class="ml-4 mr-4 mb-4">
                <v-flex>
                    <CKItems />
                </v-flex>
            </v-layout>
        </v-card>
        <!-- Modals -->
        <Help />
        <Resend />
    </v-layout>
</template>

<script>
import { mapState } from 'vuex'
// import SRItems from '../tables/sr-items'
// import CKItems from '../tables/ck-items'
// import PRItems from '../tables/pr-items'
import Help from './help'
// import Resend from './resend'
import {MomentHelper} from '@/helpers/moment'

export default {
    computed: {
        ...mapState(['requisition_manage_id']),
        resend(){
            // if(this.$store.state.requisition_manage_id.viewmodel.details.status == 'Pending'){
            //     return false
            // }else{
            //     return true
            // }
        }
    },
    components:{
        // SRItems,
        // PRItems,
        // CKItems,
        Help,
        // Resend
    },
    methods:{
        MomentHelper (date) {
            return MomentHelper(date)
        },
        refresh(){
            this.$store.dispatch('requisition_manage_id/populateStockReqTable')
            this.$store.dispatch('requisition_manage_id/populatePurchaseReqTable')
            this.$store.dispatch('requisition_manage_id/populateCheckoutsTable')
        }
    },
}
</script>

