<template>
    <div>
        <v-card>
            <v-layout class="ml-4 mr-4">
                <h1 class="display-1 font-weight-bold mt-5">Manage Stock Requisitions</h1>
            </v-layout>

            <v-layout row wrap class="ml-3 mr-4">
                <v-btn class="primary" flat small @click.prevent="$router.replace('/')"><v-icon dark small>chevron_left</v-icon>Back</v-btn>
                <v-btn class="primary" flat small @click.prevent="refresh()"><v-icon dark small>refresh</v-icon>&nbsp;Refresh</v-btn>
                <v-menu offset-y>
                    <v-btn class="primary" flat small slot="activator"><v-icon dark small>import_export</v-icon> Export</v-btn>
                    <v-list dense>

                        <!--open-->

                        <v-menu offset-x open-on-hover full-width>
                            <v-list-tile slot="activator" >
                            <v-list-tile-title>Checkout Open</v-list-tile-title>
                            <v-list-tile-action class="justify-end">
                                <v-icon>play_arrow</v-icon>
                            </v-list-tile-action>
                            </v-list-tile>
                            <v-list>
                                <v-list-tile>
                                    <v-list-tile-title style="cursor:pointer">
                                        <download-excel :data="requisition_manage.viewmodel.index.checkoutOpen.table.data" :fields="requisition_manage.viewmodel.index.checkoutOpen.table.search.fields" name="requisition_manage-Open.xls">
                                            Excel
                                        </download-excel>
                                    </v-list-tile-title>
                                </v-list-tile>

                                <v-list-tile>
                                    <v-list-tile-title style="cursor:pointer">
                                        <download-excel :data="requisition_manage.viewmodel.index.checkoutOpen.table.data" :fields="requisition_manage.viewmodel.index.checkoutOpen.table.search.fields" type="csv" name="requisition_manage-Open.csv">
                                            CSV
                                        </download-excel>
                                    </v-list-tile-title>
                                </v-list-tile>

                                <v-list-tile @click.prevent="exportPDFOpen()">
                                    <v-list-tile-title>PDF</v-list-tile-title>
                                </v-list-tile>
                            </v-list>
                        </v-menu>

                    <!--close-->

                        <v-menu offset-x open-on-hover full-width>
                            <v-list-tile slot="activator" >
                                <v-list-tile-title>Checkout Close</v-list-tile-title>
                                <v-list-tile-action class="justify-end">
                                    <v-icon>play_arrow</v-icon>
                                </v-list-tile-action>
                            </v-list-tile>
                            <v-list>
                                <v-list-tile>
                                    <v-list-tile-title style="cursor:pointer">
                                        <download-excel :data="requisition_manage.viewmodel.index.checkoutClose.table.data" :fields="requisition_manage.viewmodel.index.checkoutClose.table.search.fields" name="requisition_manage-Close.xls">
                                            Excel
                                        </download-excel>
                                    </v-list-tile-title>
                                </v-list-tile>

                                <v-list-tile>
                                    <v-list-tile-title style="cursor:pointer">
                                        <download-excel :data="requisition_manage.viewmodel.index.checkoutClose.table.data" :fields="requisition_manage.viewmodel.index.checkoutClose.table.search.fields" type="csv" name="requisition_manage-Close.csv">
                                            CSV
                                        </download-excel>
                                    </v-list-tile-title>
                                </v-list-tile>

                                <v-list-tile @click.prevent="exportPDFClose()">
                                    <v-list-tile-title>PDF</v-list-tile-title>
                                </v-list-tile>
                            </v-list>
                        </v-menu>

                    </v-list>
                </v-menu>
            </v-layout>

            <br>

            <v-layout  class="ml-4 mr-4">
                <v-flex>
                    <v-tabs>
                        <v-tab>
                            Checkout Open
                        </v-tab>
                        <v-tab-item>
                            <v-container>
                                <v-layout class="mt-3" style="max-width:50% !important">
                                    <v-text-field solo
                                        v-model="requisition_manage.viewmodel.index.checkoutOpen.table.search.value"
                                        append-icon="search"
                                        label="Search keyword"
                                        @click:append="$store.dispatch('requisition_manage/listCheckoutOpen')"
                                        @keypress.enter.prevent="$store.dispatch('requisition_manage/listCheckoutOpen')"
                                    ></v-text-field>
                                </v-layout>
                                <v-flex>
                                    <table-template 
                                        class="elevation-0"
                                        :model="requisition_manage.viewmodel.index.checkoutOpen.table" 
                                        @update:pagination="$store.dispatch('requisition_manage/listCheckoutOpen')"
                                        :actions="[
                                            { title: 'Cancel', key: 'id', method: (id) => { $store.dispatch('master/showModal', { id: id, isArchive: false }) } },
                                            { title: 'Checkout', key: 'id', method: (id) => { $router.push(`/transaction/checkout/${id}`) } },
                                            { title: 'View', key: 'id', method: (id) => { $router.push(`/transaction/requisition/manage/${id}`) } }
                                        ]"
                                        >
                                    </table-template>
                                </v-flex>
                            </v-container>
                        </v-tab-item>
                        <v-tab>
                            Checkout Close
                        </v-tab>
                        <v-tab-item>
                            <v-container>
                                <v-layout class="mt-3" style="max-width:50% !important">
                                        <v-text-field solo
                                            v-model="requisition_manage.viewmodel.index.checkoutClose.table.search.value"
                                            append-icon="search"
                                            label="Search keyword"
                                            @click:append="$store.dispatch('requisition_manage/listCheckoutClose')"
                                            @keypress.enter.prevent="$store.dispatch('requisition_manage/listCheckoutClose')"
                                        ></v-text-field>
                                    </v-layout>
                                    <v-flex>
                                        <table-template 
                                            class="elevation-0"
                                            :model="requisition_manage.viewmodel.index.checkoutClose.table" 
                                            @update:pagination="$store.dispatch('requisition_manage/listCheckoutClose')"
                                            :actions="[
                                                { title: 'View', key: 'id', method: (id) => { $router.push(`/transaction/requisition/manage/${id}`) } }
                                            ]"
                                            >
                                        </table-template>
                                    </v-flex>
                            </v-container>
                        </v-tab-item>
                    </v-tabs>
                </v-flex>   
            </v-layout>
                
        </v-card>
    </div>
</template>

<script>
import {mapState} from 'vuex'

export default {
    computed: mapState(['requisition_manage']),
    methods:{
        refresh(){
            this.$store.dispatch('requisition_manage/listCheckoutOpen')
            this.$store.dispatch('requisition_manage/listCheckoutClose')
        },
        exportPDFOpen(){
            // table.exportToPDF(this.$store.getters['requisition_manage/getIndexCheckoutOpenTable'], 'requisition_manage-Open')
        },
        exportPDFClose(){
            // table.exportToPDF(this.$store.getters['requisition_manage/getIndexCheckoutCloseTable'], 'requisition_manage-Close')
        }
    }
}
</script>

<style>

</style>
