<script>
import MainComponent from '@/components/transaction/checkout/index'
export default {
    extends: MainComponent,
    layout:'main',
    async fetch({store, route, app}) {

      // TODO: fetch maintenance here

      store.dispatch('checkout/reset')

      await store.dispatch('checkout/fetchRequisition', route.params.id)
      await store.dispatch('checkout/populateRequsitionProductsTable', {})

      await store.dispatch('maintenance/populateWarehouses', {})
      await store.dispatch('maintenance/populateProjects', {})
    }
}
</script>

<style>

</style>
