<script>
import MainComponent from '@/components/transaction/acquisition//manual-add/index'
export default {
    extends: MainComponent,
    layout:'main',
    async fetch({store, route, app}) {

      store.dispatch('acquisition_manual_add/reset')

      await store.dispatch('acquisition_manual_add/fetchProduct', route.params.id)
      await store.dispatch('maintenance/populateWarehouses', {})
      await store.dispatch('maintenance/populateSuppliers', {})
      await store.dispatch('maintenance/populateItemConditions', {})
      await store.dispatch('maintenance/populateCurencies', {})
    }
}
</script>

<style>

</style>
