<template>
  <div>
    <v-dialog
      v-model="axiosLoader.toggle"
      hide-overlay
      persistent
      width="300">
      <v-card
        color="primary"
        dark>
        <v-card-text>
          {{ axiosLoader.message ? axiosLoader.message: 'Please wait.' }}
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
    computed: {
        ...mapState(['axiosLoader'])
    },
}
</script>

