<template>
  <v-layout row justify-center>
    <v-dialog v-model="common.viewmodel.confirm_manual.state"  scrollable max-width="450px" persistent>
      <v-card>
        <v-card-title class="font-weight-bold title">{{common.viewmodel.confirm_manual.title}}</v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <!-- <v-container> -->
            <v-layout column>

              <span>
                {{common.viewmodel.confirm_manual.message}}
              </span>

            </v-layout>
          <!-- </v-container> -->
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>

          <v-btn v-if="common.viewmodel.confirm_manual.negativeActionText" flat @click.prevent="() => { 
            if (common.viewmodel.confirm_manual.negativeAction) 
              common.viewmodel.confirm_manual.negativeAction() 
            else
              common.viewmodel.confirm_manual.state = !common.viewmodel.confirm_manual.state
            }"
          >{{common.viewmodel.confirm_manual.negativeActionText}}</v-btn>

          <v-spacer></v-spacer>

          <v-btn v-if="common.viewmodel.confirm_manual.possitiveActionText" flat @click.prevent="() => { 
            if (common.viewmodel.confirm_manual.possitiveAction)
              common.viewmodel.confirm_manual.possitiveAction() 
            else
              common.viewmodel.confirm_manual.state = !common.viewmodel.confirm_manual.state
            }"
          >{{common.viewmodel.confirm_manual.possitiveActionText}}</v-btn>

        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: mapState([ 'common']),
}
</script>
