<template>
  <v-layout row justify-center>
    <v-dialog v-model="common.viewmodel.loader.loader_manual" scrollable max-width="300px" persistent>

      <v-card>
        <v-card-text>
          Please wait
          <v-progress-linear
            indeterminate
            color="primary"
            class="mb-0"
          ></v-progress-linear>
        </v-card-text>
      </v-card>

    </v-dialog>
  </v-layout>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: mapState(['common']),
}
</script>

