<template>
  <v-layout row justify-center>
    <!-- <v-dialog v-model="authentication.viewmodel.modals.sessionExpired" scrollable max-width="500px" persistent dark>
      <v-card>
        <v-card-title class="font-weight-bold title"><v-icon>warning</v-icon> &nbsp; IMS</v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          
            <v-layout column>

              <span>
                Your session has <span class="font-weight-black">expired!</span>
              </span>

            </v-layout>
          
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="error" flat @click="() => {
              
              $auth.logout()
            }"
            > <span class="font-weight-black">Go to login</span> </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog> -->
  </v-layout>
</template>

<script>
import { mapState } from 'vuex'
export default {
  // computed: mapState(['authentication']),
}
</script>

