<template>
  <div>
    <v-snackbar
      v-model="common.viewmodel.snackbar.state"
      :bottom="common.viewmodel.snackbar.y === 'bottom'"
      :left="common.viewmodel.snackbar.x === 'left'"
      :multi-line="common.viewmodel.snackbar.mode === 'multi-line'"
      :right="common.viewmodel.snackbar.x === 'right'"
      :timeout="common.viewmodel.snackbar.timeout"
      :top="common.viewmodel.snackbar.y === 'top'"
      color="#555555"
    >
      {{ common.viewmodel.snackbar.message }}
      <v-btn
        :color="common.viewmodel.snackbar.color"
        flat
        @click="common.viewmodel.snackbar.state = false"
      >
        Ok
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: mapState(['common']),
}
</script>

<style>

</style>
