<script>
import MainComponent from '@/components/transaction/inventory/details/index'
export default {
    extends: MainComponent,
    layout:'main',
    async fetch({store, route, app}) {

      // TODO: fetch maintenance here

      store.dispatch('inventory_id/reset')

      await store.dispatch('inventory_id/fetchProduct', route.params.id)
      await store.dispatch('inventory_id/listInStoreLocation')
      await store.dispatch('inventory_id/listInStoreLocationBatch')
      await store.dispatch('inventory_id/listOut')
      await store.dispatch('inventory_id/listReturns')
      await store.dispatch('inventory_id/listBatchHistory')
    }
}
</script>

<style>

</style>
