<script>
import MainComponent from '@/components/transaction/inventory/index'
export default {
    extends: MainComponent,
    layout:'main',
    async fetch({store, app}) {

      store.dispatch('inventory/reset')

      await store.dispatch('maintenance/populateWarehouses', {})
      
      await store.dispatch('maintenance/populateUnitMaterials', {})
      await store.dispatch('maintenance/populateBrands', {})
      await store.dispatch('maintenance/populateCategories', {})

      var unit_materials = store.getters['maintenance/getUnitMaterials']
      var brands = store.getters['maintenance/getBrands']
      var categories = store.getters['maintenance/getCategories']

      store.dispatch('inventory/reset')
      store.dispatch('inventory/setHeaders',
        [
          { readonly: true,  icon: 'text_format', type: 'String', text: 'Product No', value: 'prod_no', align: 'left' },
          { readonly: false, icon: 'text_format', type: 'String', text: 'Name', value: 'prod_name', align: 'left' },
          { readonly: false, icon: 'text_format', type: 'String', text: 'Brand', value: 'prod_brand' },
          { readonly: false, icon: 'text_format', type: 'String', text: 'Category', value: 'prod_category' },
          { readonly: false, icon: 'text_format', type: 'String', text: 'Qty_IS', value: 'qty_is' },
          { readonly: false, icon: 'text_format', type: 'String', text: 'Qty_PRI', value: 'qty_pri' },
          { readonly: false, icon: 'text_format', type: 'String', text: 'Qty_VB', value: 'qty_vb' },
          { readonly: false, icon: 'text_format', type: 'String', text: 'Unit', value: 'prod_unit' },

          { readonly: false, icon: 'text_format', type: null, text: 'Actions', value: null, align: 'left' }
        ]
      )
      store.dispatch('inventory/setFormSchema',
        [
          { readonly: false, icon: 'text_format', type: 'String', text: 'Product No', value: 'product_no', align: 'left' },
          // { readonly: false, icon: 'text_format', type: 'Object', select_items: clients, display_name: 'name', select_items_value: 'id', text: 'Product Type', value: 'product_type', align: 'left' },
          { readonly: false, icon: 'text_format', type: 'Boolean', text: 'Is Serialized', value: 'is_serialized', align: 'left' },
          { readonly: false, icon: 'text_format', type: 'String', text: 'Product Code', value: 'code', align: 'left' },
          { readonly: false, icon: 'text_format', type: 'String', text: 'Product Name', value: 'name', align: 'left' },
          { readonly: false, icon: 'text_format', type: 'String', text: 'Product Description', value: 'description', align: 'left' },
          { readonly: false, icon: 'text_format', type: 'Number', text: 'Minimum Quota', value: 'minimum_quantity', align: 'left' },
          { readonly: false, icon: 'text_format', type: 'Object', select_items: unit_materials, display_name: 'name', select_items_value: 'id', text: 'Unit', value: 'unit_material', align: 'left' },
          { readonly: false, icon: 'text_format', type: 'Object', select_items: brands, display_name: 'name', select_items_value: 'id', text: 'Brand', value: 'brand', align: 'left' },
          { readonly: false, icon: 'text_format', type: 'Object', select_items: categories, display_name: 'name', select_items_value: 'id', text: 'Category', value: 'category', align: 'left' }
        ]
      )
    }
}
</script>

<style>

</style>
