.page-enter-active, .page-leave-active {
  transition: opacity .3s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}

thead {
  border-top: 10px solid #F1F1F1 !important;
}

.row-critical{
  background-color: #FCE7C9 !important;
}

.row-stock-requisition-has-pr{
  background-color: #FCE7C9 !important;
}