<template>
  <v-layout row wrap>
    <v-container>
      <v-flex xs5>
        <v-checkbox
          v-model="requisition_create.viewmodel.step1.showAllProjects"
          @change="$store.dispatch('requisition_create/step1ShowAllProjects', $event)"
          :label="'Show All Projects?'"
        ></v-checkbox>

        <input-field 
          v-if="!requisition_create.viewmodel.step1.showAllProjects"
          v-model="requisition_create.viewmodel.step1.client"
          :type="'Object'"
          :label="'Clients'"
          :icon="'perm_contact_calendar'"

          :ditems="$store.getters['maintenance/getClients']"
          :dtext="'name'"
          :dvalue="'id'"
          @change="$store.dispatch('requisition_create/step1FilterProjects', $event)"
          >
        </input-field>

        <input-field 
          v-model="requisition_create.viewmodel.step1.project"
          :type="'Object'"
          :label="'Projects'"
          :icon="'domain'"

          :ditems="$store.getters['maintenance/getProjects']"
          :dtext="'name'"
          :dvalue="'id'"
          @change="$store.dispatch('requisition_create/step1SelectedProject', $event)"
          >
        </input-field>

        <v-textarea
          v-model="requisition_create.viewmodel.step1.projectDescription"
          :label="'Project Description'"
          :prepend-icon="'text_format'"
          disabled
          no-resize
        ></v-textarea>

        <input-field 
          v-model="requisition_create.viewmodel.step1.authorizer"
          :type="'Object'"
          :label="'Authorizer'"
          :icon="'person'"

          :ditems="$store.getters['maintenance/getUsers']"
          :dtext="'username'"
          :dvalue="'id'"
          >
        </input-field>

        <v-textarea
          v-model="requisition_create.viewmodel.step1.remarks"
          :label="'Remarks'"
          :prepend-icon="'text_format'"
          no-resize
        ></v-textarea>

        <v-checkbox
          v-model="requisition_create.viewmodel.step1.showHiddenStocks"
          :label="'Show Hidden Stocks'"
        ></v-checkbox>
      </v-flex>
      <v-flex xs7></v-flex>
    </v-container>
  </v-layout>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: mapState(['requisition_create' ]),
}
</script>

<style>

</style>
