<template>
  <v-layout column>
    <br/>
    <v-layout column>
      <h4>In Store Count by Location Only</h4>
      <location/>
    </v-layout>

    <v-divider></v-divider>
    
    <v-layout class="mt-3 mb-3">
      <v-btn class="primary" small primary @click.prevent="returns()" v-if="inventory_id.viewmodel.product.prod_is_serialized">Return</v-btn>
      <v-btn class="primary" small primary @click.prevent="manualAdd()">Manual Add</v-btn>
    </v-layout>

    <v-layout column>
      <h4>In Store Count by Location and Batch</h4>
      <locationBatch/>
    </v-layout>
    <v-divider></v-divider>
  </v-layout>
</template>

<script>
import { mapState } from 'vuex'
import location from './location'
import locationBatch from './location-batch'

export default {
  computed: mapState(['inventory_id']),
  components: {
    location,
    locationBatch
  },
  methods: {
    manualAdd () {
      debugger
      let product = this.$store.getters['inventory_id/getProduct']
      this.$router.push(`/transaction/acquisition/manual-add/${product.prod_id}`)
    },
    returns(){
      this.$router.replace(this.$store.getters['manage_stocks/getDetailHeader'].id +'/returns')
    }
  }
}
</script>