<template>
  <v-layout row justify-center>
    <v-dialog v-model="manage_stocks.viewmodel.modals.consumable_transactions" persistent scrollable max-width="700">
      <v-card>
        <v-card-title class="font-weight-bold title">Edit Consumable</v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-container>
            <v-layout column>

                <v-text-field
                  v-model="manage_stocks.viewmodel.details.header.product_no"
                  :label="'Product No'"
                  :prepend-icon="'text_format'"
                  disabled
                ></v-text-field>

                <v-text-field
                  v-model="manage_stocks.viewmodel.details.inStore.transactions.consumableDeductShiftForm.fromBatchNumber"
                  :label="'Batch No'"
                  :prepend-icon="'text_format'"
                  disabled
                ></v-text-field>

                <input-field 
                  v-model="manage_stocks.viewmodel.details.inStore.transactions.consumableDeductShiftForm.fromWarehouse"
                  :type="'Object'"
                  :label="'Location'"

                  :durl="require('@/api/urls.js').urlMasters.warehouse_location"
                  :dtext="'name'"
                  :dvalue="'id'"
                  :icon="'text_format'"
                  disabled
                  >
                </input-field>

                <v-text-field
                  v-model="manage_stocks.viewmodel.details.inStore.transactions.consumableDeductShiftForm.qty_n"
                  :label="'QTY New'"
                  :prepend-icon="'text_format'"
                  type="number"
                  disabled
                ></v-text-field>

                <v-text-field
                  v-model="manage_stocks.viewmodel.details.inStore.transactions.consumableDeductShiftForm.qty_u"
                  :label="'QTY Used'"
                  :prepend-icon="'text_format'"
                  type="number"
                  disabled
                ></v-text-field>

                 <!-- ***** ENABLED FIELDS ***** -->
                 <br/><br/>

                 <input-field 
                  v-model="manage_stocks.viewmodel.details.inStore.transactions.consumableDeductShiftForm.item_condition"
                  :type="'Object'"
                  :label="'Type'"

                  :durl="require('@/api/urls.js').urlMasters.item_conditions"
                  :dtext="'description'"
                  :dvalue="'id'"
                  :icon="'text_format'"
                  >
                </input-field>

                <v-text-field
                  v-model="manage_stocks.viewmodel.details.inStore.transactions.consumableDeductShiftForm.quantity"
                  :label="'Quantity'"
                  :prepend-icon="'text_format'"
                  type="number"
                ></v-text-field>

                <v-autocomplete 
                  v-show="manage_stocks.viewmodel.details.inStore.transactions.consumableDeductShiftForm.isShiftBatch"
                  v-model="manage_stocks.viewmodel.details.inStore.transactions.consumableDeductShiftForm.toBatch"
                  :items="manage_stocks.viewmodel.details.inStore.transactions.consumableDeductShiftForm.batchList"
                  label="To Batch"
                  dense
                  item-text="batchNo"
                  item-value="batchNo"
                  :prepend-icon="'text_format'"
                  autocomplete
                ></v-autocomplete>

                <input-field 
                  v-show="manage_stocks.viewmodel.details.inStore.transactions.consumableDeductShiftForm.isShiftLocation"
                  v-model="manage_stocks.viewmodel.details.inStore.transactions.consumableDeductShiftForm.toWarehouse"
                  :type="'Object'"
                  :label="'To Location'"

                  :durl="require('@/api/urls.js').urlMasters.warehouse_location"
                  :dtext="'name'"
                  :dvalue="'id'"
                  :icon="'text_format'"
                  >
                </input-field>

            </v-layout>
          </v-container>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn class="primary" flat @click="$store.dispatch('manage_stocks/toggleModal', 'consumable_transactions')">Cancel</v-btn>
          <v-spacer></v-spacer>
          <v-btn class="primary" flat @click="DeductShiftItems()">Submit</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
//consumable
import { mapState } from 'vuex'
import apiProductDetails from '@/api/productDetails.js'


export default {
  computed: mapState(['common', 'manage_stocks']),
  methods: {
    DeductShiftItems () {

      this.$store.dispatch('manage_stocks/transactionSubmitConsumable',
      {
        callback: () => {
          this.$toast.open({message: 'Items Shifted!'})
          this.$parent.close()
        },
        errorCallback: () => { 
          
        }
      })
    }
  }
}
</script>

<style>

</style>
