<template>
  <v-layout row justify-center>
    <v-dialog v-model="manage_stocks.viewmodel.modals.serialized_edit" persistent scrollable max-width="700">
      <v-card>
        <v-card-title class="font-weight-bold title">Edit Serialize</v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-container>
            <v-layout column>

                <v-text-field
                  v-model="manage_stocks.viewmodel.details.header.product_no"
                  :label="'Product No'"
                  :prepend-icon="'text_format'"
                  disabled
                ></v-text-field>

                <v-text-field
                  v-model="manage_stocks.viewmodel.details.inStore.transactions.editSerializeItemForm.batch_no"
                  :label="'Batch No'"
                  :prepend-icon="'text_format'"
                  disabled
                ></v-text-field>

                <v-text-field
                  v-model="manage_stocks.viewmodel.details.inStore.transactions.editSerializeItemForm.previous_serial_number"
                  :label="'Previous Serial Number'"
                  :prepend-icon="'text_format'"
                  disabled
                ></v-text-field>

                <br/><br/>

                <v-text-field
                  v-model="manage_stocks.viewmodel.details.inStore.transactions.editSerializeItemForm.new_serial_no"
                  :error-messages="manage_stocks.viewmodel.details.inStore.transactions.editSerializeItemForm.backendError.new_serial_no"
                  :label="'New Serial Number'"
                  :prepend-icon="'text_format'"
                ></v-text-field>

                <input-field 
                  v-model="manage_stocks.viewmodel.details.inStore.transactions.editSerializeItemForm.new_item_condition"
                  :error="manage_stocks.viewmodel.details.inStore.transactions.editSerializeItemForm.backendError.new_item_condition"
                  :type="'Object'"
                  :label="'New Type'"

                  :durl="require('@/api/urls.js').urlMasters.item_conditions"
                  :dtext="'description'"
                  :dvalue="'id'"
                  :icon="'text_format'"
                  >
                </input-field>

                <input-field 
                  v-model="manage_stocks.viewmodel.details.inStore.transactions.editSerializeItemForm.new_warehouse"
                  :error="manage_stocks.viewmodel.details.inStore.transactions.editSerializeItemForm.backendError.new_warehouse"
                  :type="'Object'"
                  :label="'New Location'"

                  :durl="require('@/api/urls.js').urlMasters.warehouse_location"
                  :dtext="'name'"
                  :dvalue="'id'"
                  :icon="'text_format'"
                  >
                </input-field>

            </v-layout>
          </v-container>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn class="primary" flat @click="Cancel()">Cancel</v-btn>
          <v-spacer></v-spacer>
          <v-btn class="primary" flat @click="$store.dispatch('manage_stocks/tranasctionSubmitEditSerialized')">Submit</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapState } from 'vuex'


export default {
  computed: mapState(['manage_stocks', 'common']),
  methods: {
    Cancel () {
      this.$store.dispatch('manage_stocks/toggleModal', 'serialized_edit')
    }
  }
}
</script>

<style>

</style>
