<template>
  <v-layout row justify-center>
    <v-dialog v-model="manage_stocks.viewmodel.modals.serialized_delete" persistent scrollable max-width="700">
      <v-card>
        <v-card-title class="font-weight-bold title">Delete Serialized Items</v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-container>
            <v-layout column>


              <v-flex>
                <v-alert
                  :value="true"
                  color="error"
                  icon="warning"
                  outline
                >
                  Are you sure you want to delete these items?
                  <v-icon>archive</v-icon>
                </v-alert>
              </v-flex>

              <br/>

              <v-card class="elevation-5">
                <v-container>
                  <v-layout>
                    <v-checkbox  v-for="item in manage_stocks.viewmodel.details.inStore.transactions.serializeditems.selectedItems" :key="item.stockId"
                      @change="$store.dispatch('manage_stocks/transactionSerializedCheck', { checked: $event, serializedItem: item  })"
                      :label="item.serial_no"
                      :input-value="true">
                    </v-checkbox>
                  </v-layout>
                </v-container>
              </v-card>

            </v-layout>
          </v-container>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn class="primary" flat @click="$store.dispatch('manage_stocks/toggleModal', 'serialized_delete')">Cancel</v-btn>
          <v-spacer></v-spacer>
          <v-btn class="primary" flat @click="$store.dispatch('manage_stocks/tranasctionSubmitDeleteSerialized')">Delete</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: mapState(['manage_stocks']),
}
</script>

<style>

</style>
