<template>
  <v-layout row justify-center>
    <v-dialog v-model="manage_stocks.viewmodel.modals.serialized_shift_location" persistent scrollable max-width="700">
      <v-card>
        <v-card-title class="font-weight-bold title">Shift Location (Serialized)</v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-container>
            <v-layout column>

              <v-card>
                <v-container>
                  <v-layout>
                    <v-checkbox  v-for="item in manage_stocks.viewmodel.details.inStore.transactions.serializeditems.selectedItems" :key="item.stockId"
                      @change="$store.dispatch('manage_stocks/transactionSerializedCheck', { checked: $event, serializedItem: item  })"
                      :label="item.serial_no"
                      :input-value="true">
                    </v-checkbox>
                  </v-layout>
                </v-container>
              </v-card>

              <br/><br/>

              <v-text-field
                v-model="manage_stocks.viewmodel.details.inStore.transactions.shiftLocationForm.fromBatchNumber"
                :label="'From Batch No'"
                :prepend-icon="'text_format'"
                disabled
              ></v-text-field>

              <v-text-field
                v-model="manage_stocks.viewmodel.details.inStore.transactions.shiftLocationForm.fromLocationName"
                :label="'From Location'"
                :prepend-icon="'text_format'"
                disabled
              ></v-text-field>

              <input-field 
                v-model="manage_stocks.viewmodel.details.inStore.transactions.shiftLocationForm.toLocation"
                :type="'Object'"
                :label="'To Location'"

                :durl="require('@/api/urls.js').urlMasters.warehouse_location"
                :dtext="'name'"
                :dvalue="'id'"
                :icon="'text_format'"
                >
              </input-field>

            </v-layout>
          </v-container>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn class="primary" flat @click="$store.dispatch('manage_stocks/toggleModal', 'serialized_shift_location')">Cancel</v-btn>
          <v-spacer></v-spacer>
          <v-btn class="primary" flat @click="$store.dispatch('manage_stocks/tranasctionSubmitShiftLocationSerialized')">Submit</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapState } from 'vuex'


export default {
  computed: mapState(['common', 'manage_stocks'])
}
</script>

<style>

</style>
