<template>
  <div>
    <v-card class="elevation-0">
      <v-layout class="pb-4">
        <v-flex>

          <table-template 
              class="elevation-0"
              :model="inventory_id.viewmodel.in_store.location_batch.table" 
              @update:pagination="$store.dispatch('inventory_id/listInStoreLocationBatch')"
              :uniqueColumn="'batch'"
              :actions="[
                  { title: 'Serial numbers', method: (props) => { expandStocks(props) } }]"
              >
                <template slot="expanded" slot-scope="selected">
                  {{selected}}
                </template>
          </table-template>

        </v-flex>
      </v-layout>
    </v-card>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import {MomentHelper} from '@/helpers/moment'

// import SerializedEdit from './location-batch-serializer-edit'
// import SerializedShiftBatch from './location-batch-serializer-shift-batch'
// import SerializedShiftLocation from './location-batch-serializer-shift-location'
// import SerializedDelete from './location-batch-serializer-delete'
// import ConsumableTransactions from './location-batch-consumable-deduct-shift'

// import apiManageStocks from '@/api/manageStock.js'

export default {
  computed: mapState(['inventory_id']),
  components: {
    // SerializedEdit,
    // SerializedShiftBatch,
    // SerializedShiftLocation,
    // SerializedDelete,
    // ConsumableTransactions
  },
  methods: {
    expandStocks (props) {
      props.expanded = !props.expanded
    },
    updateBatch (item) {
      // acqId: 4
      // acquired_date: "2019-02-11"
      // batch: "AQN-20190211-0000001"
      // currency_d: "American Dollar"
      // inv_no: "222222"
      // location: "Oneberry Office Store"
      // location_id: 2
      // po_no: "11111"
      // qty_n: 0
      // qty_u: 3
      // supplier_d: "Aftershock PC Pte Ltd"
      // total_price: 2400
      // uniq_code: "4-2"
      // unitmaterial: "Pcs"

      this.$router.replace(this.$store.getters['manage_stocks/getDetailHeader'].id + '/update-batch/' + item.acqId)
    },
    EditSerializedItem (item) {

      var details = 
      {
        stockid: item.stockId,
        acqId: this.lastSelected.acqId,
        batch_no: this.lastSelected.batch,
        previous_serial_number: item.serial_no
      }

      this.$store.dispatch('manage_stocks/tranasctionPrepareEditSerialized', details)

      this.$store.dispatch('manage_stocks/toggleModal', 'serialized_edit')
    },
    ShiftBatch () {

      this.$store.dispatch('manage_stocks/tranasctionPrepareShiftBatchSerialized')

      this.$store.dispatch('manage_stocks/toggleModal', 'serialized_shift_batch')
    },
    ShiftLocation () {

      this.$store.dispatch('manage_stocks/tranasctionPrepareShiftLocationSerialized')

      this.$store.dispatch('manage_stocks/toggleModal', 'serialized_shift_location')
    },
    DeleteSelected () {   
      this.$store.dispatch('manage_stocks/tranasctionPrepareDeleteSerialized')

      this.$store.dispatch('manage_stocks/toggleModal', 'serialized_delete')
    },
    deductQty (batchObj) {

      this.$store.dispatch('manage_stocks/transactionPrepareConsumable', 
      {
        isShiftLocation: false, 
        isShiftBatch: false,
        isDeductItems: true
      })
      this.showCommonCSPModal(batchObj);
    },
    shiftBatchCsp (batchObj) {

      this.$store.dispatch('manage_stocks/transactionPrepareConsumable', 
      {
        isShiftLocation: false, 
        isShiftBatch: true,
        isDeductItems: false
      })
      this.showCommonCSPModal(batchObj);
    },
    shiftLocationCsp (batchObj) {

      this.$store.dispatch('manage_stocks/transactionPrepareConsumable', 
      {
        isShiftLocation: true, 
        isShiftBatch: false,
        isDeductItems: false
      })
      this.showCommonCSPModal(batchObj);
    },
    showCommonCSPModal(batchObj) {

      this.$store.dispatch('manage_stocks/transactionPrepareConsumable', 
      {
        fromBatchNumber: batchObj.batch,
        fromBatch: batchObj.acqId,
        fromWarehouseName: batchObj.location,
        fromWarehouse: batchObj.location_id,
        qty_n: batchObj.qty_n,
        qty_u: batchObj.qty_u
      })

      this.$store.dispatch('manage_stocks/toggleModal', 'consumable_transactions')
    },
    MomentHelper(date){
        return MomentHelper(date)
    }
  }
}
</script>
