<template>
  <div>
    <v-card class="elevation-0">
      <v-layout class="pb-4">
        <v-flex>

          <table-template 
              class="elevation-0"
              :model="inventory_id.viewmodel.in_store.location.table" 
              @update:pagination="$store.dispatch('inventory_id/listInStoreLocation')"
              >
          </table-template>

        </v-flex>
      </v-layout>
    </v-card>
  </div>
</template>


<script>
import { mapState } from 'vuex'

export default {
  computed: mapState(['inventory_id']),
}
</script>

<style>

</style>
