<template>
  <v-layout row justify-center>
    <v-dialog v-model="manage_stocks.viewmodel.modals.serialized_shift_batch" persistent scrollable max-width="700">
      <v-card>
        <v-card-title class="font-weight-bold title">Shift Batch (Serialized)</v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-container>
            <v-layout column>

              <v-card>
                <v-container>
                  <v-layout>
                    <v-checkbox  v-for="item in manage_stocks.viewmodel.details.inStore.transactions.serializeditems.selectedItems" :key="item.stockId"
                      @change="$store.dispatch('manage_stocks/transactionSerializedCheck', { checked: $event, serializedItem: item  })"
                      :label="item.serial_no"
                      :input-value="true">
                    </v-checkbox>
                  </v-layout>
                </v-container>
              </v-card>

              <br/><br/>

              <v-autocomplete 
                v-model="manage_stocks.viewmodel.details.inStore.transactions.shiftBatchForm.toBatch"
                :items="manage_stocks.viewmodel.details.inStore.transactions.shiftBatchForm.batchList"
                label="To Batch No"
                dense
                item-text="batchNo"
                item-value="acqId"
                :prepend-icon="'text_format'"
                autocomplete
              ></v-autocomplete>


            </v-layout>
          </v-container>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn class="primary" flat @click="Cancel()">Cancel</v-btn>
          <v-spacer></v-spacer>
          <v-btn class="primary" flat @click="$store.dispatch('manage_stocks/tranasctionSubmitShiftBatchSerialized')">Submit</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapState } from 'vuex'


export default {
  computed: mapState(['common', 'manage_stocks']),
  methods: {
    Cancel () {
      this.$store.dispatch('manage_stocks/toggleModal', 'serialized_shift_batch')
    }
  }
}
</script>

<style>

</style>
