<template>
  <div>
    <v-card class="elevation-0">
      <v-layout class="pb-4">
        <v-flex>

          <table-template 
              class="elevation-0"
              :model="inventory_id.viewmodel.out.table" 
              @update:pagination="$store.dispatch('inventory_id/listOut')"
              >
          </table-template>

        </v-flex>
      </v-layout>
    </v-card>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { MomentHelper } from '@/helpers/moment.js'

export default {
    computed: mapState(['inventory_id']),
    methods: {
      MomentHelper (date) {
        return MomentHelper(date)
      },
      changeAction (props, act) {
        
        props.expanded = true

        this.action_type = act
      }
    },
    data () {
      return {
        // SN
        // RR
        // CR
        action_type: ''
      }
    }
}
</script>

<style>

</style>
