<template>
  <div>
    <v-card>
      <v-layout class="ml-4 mr-4">
        <h1 class="display-1 font-weight-bold mt-5">Requisitions For Approval</h1>
      </v-layout>

      <v-layout class="ml-4 mr-4 mt-3" style="max-width:1320px">
          <v-text-field solo
            v-model="requisition_for_approval.viewmodel.index.table.search.value"
            append-icon="search"
            label="Search keyword"
            @click:append="$store.dispatch('master/list')"
            @keypress.enter.prevent="$store.dispatch('master/list')"
          ></v-text-field>
        <v-spacer></v-spacer>
      </v-layout>

      <v-layout class="pl-4 pr-4 pb-4">
        <v-flex>
          <table-template 
              class="elevation-0"
              :model="requisition_for_approval.viewmodel.index.table"
              @update:pagination="$store.dispatch('requisition_for_approval/list')"
              :actions="[
                  { title: 'approve', key: 'id', method: (id) => { $router.push(`/transaction/requisition/approve/${id}/basic`) } },
                  { title: 'reject', key: 'id', method: (id) => { $router.push(`/transaction/requisition/reject/${id}/basic`) } },
                  ]"
              >
          </table-template>
        </v-flex>
      </v-layout>
    </v-card>

    <!-- MODAL -->
    <!-- <formmodal/> -->
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { MomentHelper } from '@/helpers/moment.js'

export default {
  computed: {
    ...mapState(['requisition_for_approval']),
  },
  components: {
    // formmodal
  },
  methods: {
    MomentHelper (date) {
      return MomentHelper(date)
    }
  }
}
</script>

<style>

</style>
