<template>
    <div>
      <v-card>
        <v-layout class="ml-4 mr-4">
            <h1 class="display-1 font-weight-bold mt-5">Checkout</h1>
        </v-layout>

        <v-layout class="ml-4 mr-4">
            <div>Step by step checkout for stock requisition.</div>
        </v-layout>

        <v-layout row wrap class="ml-3 mr-4">
          <v-btn class="primary" flat small @click.prevent="$router.replace('/manage-stock-requisitions')"><v-icon dark small>chevron_left</v-icon>Back</v-btn>
          <v-btn class="primary" flat small @click.prevent="$store.dispatch('checkout/toggleModal', 'help')"><v-icon dark small></v-icon>Help</v-btn>
        </v-layout>

        <v-layout class="pb-4">
          <v-expansion-panel focusable>
            <v-expansion-panel-content>
              <div slot="header">
                <v-text-field
                  :label="'Stock Requistion Number'"
                  :value="checkout.viewmodel.requisition.requisition_no"
                  readonly
                ></v-text-field>
              </div>
              <v-layout class="pl-5 pr-5">
                <v-card width="100%" flat>
                    <v-container>

                      <v-layout class="pl-4 pr-4 pb-2 ml-2 mr-2 mt-2">
                          <v-flex xs5>
                              <v-text-field label="Stock Requisition No" v-model="checkout.viewmodel.requisition.requisition_no" readonly></v-text-field>
                              <v-text-field label="Requestor" v-model="checkout.viewmodel.requisition.requestor.username"  readonly></v-text-field>
                              <v-text-field label="Requested On" :value="MomentHelper(checkout.viewmodel.requisition.created)"   readonly></v-text-field>
                              <v-text-field label="Project"  v-model="checkout.viewmodel.requisition.project.name"  readonly></v-text-field>
                              <v-textarea label="Remarks" v-model="checkout.viewmodel.requisition.remarks" no-resize readonly></v-textarea>
                          </v-flex>
                          <v-flex xs2></v-flex>
                          <v-flex xs5>
                              <v-text-field label="Status" v-model="checkout.viewmodel.requisition.status"  readonly></v-text-field>
                              <div :hidden="(checkout.viewmodel.requisition.approved_date) == null? true : false" >
                                  <v-text-field label="Approved By" v-model="checkout.viewmodel.requisition.approver" readonly></v-text-field>
                                  <v-text-field label="Approved On"  :value="MomentHelper(checkout.viewmodel.requisition.approved_date)"   readonly></v-text-field>
                              </div>
                            
                          </v-flex>
                      </v-layout>

                    </v-container>
                </v-card>
              </v-layout>
              <br/>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-layout>

        <v-layout column>
          <v-stepper v-model="e1" class="elevation-0">
            <v-stepper-header  class="elevation-0">
              <v-stepper-step step="1">Step 1</v-stepper-step>
              <v-divider></v-divider>
              <v-stepper-step step="2">Step 2</v-stepper-step>
              <v-divider></v-divider>
              <v-stepper-step step="3">Summary</v-stepper-step>
            </v-stepper-header>

            <v-stepper-items>
              <v-stepper-content step="1">
                <v-layout column>
                    <v-card
                      class="elevation-0 pl-5 pr-5"
                    >
                      <step1/>  
                    </v-card>
                    <br/>
                  <v-card>
                    <v-layout>
                      <v-spacer></v-spacer>
                      <v-btn color="primary" @click="nextStep(1)">Next<v-icon>arrow_forward</v-icon></v-btn>
                    </v-layout>
                  </v-card>
                </v-layout>
              </v-stepper-content>

              <v-stepper-content step="2">
                <v-layout column>
                    <v-card
                      class="elevation-0 pl-5 pr-5"
                    >
                      <step2/>  
                    </v-card>
                  <br/>
                  <v-card>
                    <v-layout>
                      <v-btn color="primary" @click="prevStep(2)"><v-icon>arrow_back</v-icon>Previous</v-btn>
                      <v-spacer></v-spacer>
                      <v-btn color="primary" @click="nextStep(2)">Next<v-icon>arrow_forward</v-icon></v-btn>
                    </v-layout>
                  </v-card>
                </v-layout>
              </v-stepper-content>
              <v-stepper-content step="3">
                <v-layout column>
                    <v-card class="elevation-0 pl-5 pr-5">
                      <stepSummary/>  
                    </v-card>
                  <br/>
                  <v-card>
                    <v-layout>
                      <v-btn color="primary" @click="prevStep(3)"><v-icon>arrow_back</v-icon>Previous</v-btn>
                      <v-spacer></v-spacer>
                      <v-btn color="primary" @click="SUBMIT()">Submit</v-btn>
                    </v-layout>
                  </v-card>
                </v-layout>
              </v-stepper-content>
            </v-stepper-items>

          </v-stepper>
        </v-layout>

      </v-card>

    <helpComponent/>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import step1 from './step1/index.vue'
import step2 from './step2/index.vue'
// import stepSummary from './summary/index.vue'
import helpComponent from './help'

import {MomentHelper} from '@/helpers/moment'

export default {
  computed: { 
    ...mapState(['checkout']),
  },
  components: {
    step1,
    step2,
    // stepSummary,
    helpComponent
  },
  data () {
    return {
      e1: 1
    }
  },
  methods:{
    MomentHelper (date) {
        return MomentHelper(date)
    },
    nextStep (n) {
      if (n === 3) {
        this.e1 = 1
      } else {
        this.e1 = n + 1
      }
    },
    prevStep (n) {
      this.e1 = n - 1
    },
    SUBMIT () {

      this.$store.dispatch('checkout/toggleModal', 'step3Validator')

    }
  }
}
</script>

<style>

</style>
