<template>
  <v-layout column>

    <v-text-field v-if="type === 'String'"
      @input="(e) => { $emit('input', e) }"
      :value="this.value"
      placeholder=" "

      :error-messages="error"
      :label="label"
      :prepend-icon="icon"
      :disabled="disabled"
      :readonly="readonly"
    ></v-text-field>


    <v-text-field v-else-if="type === 'Number'"
      @input="(e) => { $emit('input', e) }"
      :value="this.value"

      :error-messages="error"
      :label="label"
      :prepend-icon="icon"
      :disabled="disabled"
      :readonly="readonly"
      type="number"
    ></v-text-field>


    <v-checkbox v-else-if="type === 'Boolean'"
      @change="(e) => {
        if (e) 
          $emit('input', e) 
        else
          $emit('input', false) 
        }"
      :value="this.value"

      :error-messages="error"
      :label="label"
      :prepend-icon="icon"
      :disabled="disabled"
      :readonly="readonly"
    ></v-checkbox>


    <v-menu v-else-if="type === 'Date'"
      :close-on-content-click="false"
      v-model="date_menu"
      :nudge-right="40"
      lazy
      transition="scale-transition"
      offset-y
      full-width
      max-width="290px"
      min-width="290px"
      :readonly="readonly"
      :disabled="disabled"
    >
      <v-text-field
        slot='activator'
        :value="this.value ? momentHelper(this.value) : ''"

        :error-messages="error"
        :label="label"
        :hint="'DD/MM/YYYY format'"
        :persistent-hint="persistent_hint"
        :prepend-icon="icon"
        readonly
        :disabled="disabled"
      ></v-text-field>
      <v-date-picker 
        :readonly="readonly"
        :disabled="disabled"
        no-title 
        :value="this.value"
        @input="(date) => {

          if (!date) return null

          date_menu = false

          this.value = `${date} ${getCurrentTime()}`

          $emit('input', this.value)

        }"></v-date-picker>
    </v-menu>


    <v-autocomplete v-else-if="type === 'Object'"
      @input="(e) => { $emit('input', e) }"
      :value="this.value"

      @change="(e) => { $emit('change', e) }"

      @focus="loadItems('')"

      :items="items"
      :item-text="dtext"
      :item-value="dvalue"
      
      :label="label"
      :error-messages="error"      
      :prepend-icon="icon"
      :readonly="readonly"
      :disabled="disabled"
      :search-input.sync="search"

      dense
      cache-items
    ></v-autocomplete>


    <!-- THIS WILL BIND LIST OF FILES -->
    <v-layout column v-else-if="type === 'Image'">
   
      <v-container
        fluid
        grid-list-md>
        <v-layout row wrap>
          <v-flex
            v-for="imageItem in display_pictures" 
            :key="imageItem.name">
            <v-card>
              <v-img
                :src="imageItem.value"
                height="300px" contain>
                <v-container
                  fill-height
                  fluid
                  pa-2>
                  <v-layout fill-height>
                    <v-flex xs12 align-end flexbox>
                      <span class="headline white--text" v-text="''"></span>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-img>

              <v-card-actions>
                <v-spacer></v-spacer>
                <!-- <v-btn icon title="Set as Primary" @click="() => {

                    manage_stocks.viewmodel.index.crudForm.product_images.forEach((item) => {
                      item.is_primary = false
                    })

                    imageItem.is_primary = true
                  }">
                  <v-icon :color="imageItem.is_primary ? 'red' : 'black'">bookmark</v-icon>
                </v-btn> -->
                <v-btn icon title="Remove Picture" @click="removePic(imageItem)">
                  <v-icon>delete</v-icon>
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>

      <v-text-field 
        :label="label" 
        :readonly="readonly"
        :disabled="disabled"
        :hint="custom_hint"
        persistent-hint
        @click='() => { $refs.uploadFileReference.click(); }' 
        :prepend-icon="icon" 
        :error-messages="custom_error"
        ref="uploadInput" 
      ></v-text-field>
      <input
        type="file"
        multiple
        style="display: none"
        accept="image/*"
        ref="uploadFileReference" 
        @change="(e) => {

          let files = e.target.files || e.dataTransfer.files;

          if (files && files.length > 0) {

            if (files.length <= maxfiles) {

              var canProceed = true

              for (var i = 0; i < files.length ; i++) 
                if(!files[i].type.toLowerCase().startsWith('image'))
                  canProceed = false
              
              if (canProceed) {

                custom_error = null
                selected_files = []
                selected_files = files
              }
              else custom_error = 'Some files are not picture'
            }
            else custom_error = 'Maximum of ('+maxfiles+') pictures only'
          }
      }"
      /> 
    </v-layout>


    <!-- THIS WILL BIND LIST OF FILES -->
    <v-layout column v-else-if="type === 'File'">
   
      <v-text-field 
        :label="label" 
        readonly
        :disabled="disabled"
        :hint="custom_hint"
        persistent-hint
        @click='() => { $refs.uploadFileReference.click(); }' 
        :prepend-icon="icon" 
        :error-messages="custom_error"
        ref="uploadInput" 
      ></v-text-field>
      <input
        type="file"
        multiple
        style="display: none"
        ref="uploadFileReference" 
        @change="(e) => {

          let files = e.target.files || e.dataTransfer.files;

          if (files && files.length > 0) {

            if (files.length <= maxfiles) {

              custom_hint = files.length + ' files. Max of ' + this.maxfiles

              $emit('input', files)
            }
            else custom_error = 'Maximum of ('+maxfiles+') files only'
          }
      }"
      /> 
    </v-layout>

  </v-layout>
</template>

<script>
import { MomentHelper, IsValidFormat } from '@/helpers/moment.js'

export default {
  props: [
    'value',

    'type',
    'label',
    'hint',
    'persistent_hint',
    'error',
    'icon',
    'disabled',
    'readonly',

    // DROPDOWN PROPS
    'durl',
    'ditems',
    'dtext',
    'dvalue',
    'dinitvalue',

    // IMAGE FIELD PROPS
    'maxfiles',
    'previewpics'
  ],
  data () {
    return {
      // For Date Picker
      date_menu: false,

      // For Image Picker
      custom_error: this.error,
      custom_hint: '0 files. Max of ' + this.maxfiles,
      selected_files: this.value,
      display_pictures: [],

      // For Autocomplete
      isLoading: false,
      search: this.value,
      items: []
    }
  },
  methods: {
    momentHelper (date) {
      return MomentHelper(date)
    },
    getCurrentTime () {
      return this.$moment().format('HH:mm:ss');
    },
    loadItems (val) {

      if (this.items && this.items.length > 0) return

      if (this.durl) {

        new Request(this.$axios, this.durl).get({
          success: (data) => {
            this.items = data.results
          }
        }).finally(() => (this.isLoading = false))
      }
      else {
        this.items = this.ditems
        this.isLoading = false
      }
    },
    removePic (item) {

      var curList = Object.assign([], this.selected_files)

      var existing = curList.find(exitem => exitem.name == item.name)

      if (existing) {

        curList.splice(curList.indexOf(existing), 1)

        this.selected_files = curList

      }
    }
  },
  watch: {
    value (val) {
      if (this.type === 'Object') {

        if (this.dinitvalue) 
          this.$emit('input', this.dinitvalue)

        this.loadItems('')
      }
    },
    search (val) {
      if (this.isLoading | this.ditems) return

      this.isLoading = true

      this.loadItems(val)
    },
    selected_files(list) {

      this.display_pictures = []

      this.$emit('input', list)

      if (list && list.length > 0) {

        Array.from(list).forEach((file, idx) => {

          const fileReader = new FileReader();
        
          const getResult = new Promise(resolve => {
            fileReader.onload = e => {

              this.display_pictures.push( { name: file.name , value: e.target.result } )

              this.custom_hint = this.display_pictures.length + ' files. Max of ' + this.maxfiles
            };
          });

          fileReader.readAsDataURL(file);
          return getResult.then(file => {
            return file;
          });
        });

      }

    }
  }
}
</script>
