<template>
    <v-data-table
      :headers="model.headers"
      :items="model.data"
      :total-items="model.total"
      :pagination.sync="model.pagination"
      @update:pagination="$emit('update:pagination')"
      :loading="model.loading"

      :item-key="uniqueColumn"

      :select-all="selectable"
      @input="(e) => { $emit('input', e) }"
      :value="value"
      dense

      :hide-actions="list"
      >
      <template v-if="custom_headers" v-slot:headers="props">
        <slot name="headers" :props="props"></slot>
      </template>

      <template slot="items" slot-scope="props">
        <slot v-if="custom_rows" name="rows" :props="props"></slot>

        <tr v-else @dblclick="props.expanded = !props.expanded">
          <td v-if="selectable">
            <v-checkbox
              v-model="props.selected"
              primary
              hide-details
            ></v-checkbox>
          </td>

          <td v-for="header in model.headers" :key="header.test" class="text-xs-left">

            <v-flex v-if="header.text != 'Actions'">

              <span v-if="header.type === 'String'">
                {{ props.item[header.value] }}
              </span>
              <span v-else-if="header.type === 'Date'">
                {{ momentHelper(props.item[header.value]) }}
              </span>
              <v-icon small v-else-if="header.type === 'Boolean' && props.item[header.value] === true">check</v-icon> 
              <v-icon small v-else-if="header.type === 'Boolean' && props.item[header.value] === false">clear</v-icon>
              <span v-else-if="header.type === 'Object'">
                {{
                  // Currently Supporting LEVEL 1 Object 
                  props.item[header.value][header.display_name] 
                }} 
              </span>
            </v-flex>

            <v-layout v-else>
              <v-btn 
                v-for="action in actions" 
                :key="action.id"
                @click.prevent="() => { 'key' in action ? action.method(props.item[action.key]) : action.method(props) }"
                flat
                small
                outline
                >
                {{ action.title }}
              </v-btn>
            </v-layout>
          </td>
        </tr>
      </template>

      <template v-slot:expand="props">
        <slot name="expanded" :selected="props"></slot>
      </template>
    </v-data-table>
</template>

<script>
import { MomentHelper } from '@/helpers/moment.js'

export default {
  props: [
    'value',
    'model',
    'actions',
    'uniqueColumn',
    'selectable',
    'list',
    'custom_rows',
    'custom_headers'
  ],
  updated () {
    if (this.actions && 
        this.actions.length > 0 && 
        this.model.headers.length > 0 && 
        this.model.headers[this.model.headers.length - 1].text != 'Actions'
        )
      this.model.headers.push({text: 'Actions', value: null, sortable:false, align: 'center' } ,)
  },
  methods: {
    momentHelper (date) {
      return MomentHelper(date)
    },
  }
}
</script>
