<template>
  <v-app>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
    >
      <v-list>
        <v-subheader>User</v-subheader>
        <v-list-tile
          v-for="(item, i) in items_users"
          :key="i"
          :to="item.item_url"
          router
          exact
        >
          <v-tooltip right>
            <template v-slot:activator="{ on }">
              <v-list-tile-action v-on="on">
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-tile-action>
            </template>
            <span>{{item.name}}</span>
          </v-tooltip>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.name" />
          </v-list-tile-content>
        </v-list-tile>
      </v-list>

      <!-- <v-divider inset></v-divider> -->

      <v-list>
        <v-subheader>Maintenance</v-subheader>
        <v-list-tile
          v-for="(item, i) in items_maintenance"
          :key="i"
          :to="item.item_url"
          router
          exact
        >
          <v-tooltip right>
            <template v-slot:activator="{ on }">
              <v-list-tile-action v-on="on">
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-tile-action>
            </template>
            <span>{{item.name}}</span>
          </v-tooltip>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.name" />
          </v-list-tile-content>
        </v-list-tile>
      </v-list>

      <!-- <v-divider inset></v-divider> -->

      <v-list>
        <v-subheader>Transaction</v-subheader>
        <v-list-tile
          v-for="(item, i) in items_transactions"
          :key="i"
          :to="item.item_url"
          router
          exact
        >
          <v-tooltip right>
            <template v-slot:activator="{ on }">
              <v-list-tile-action v-on="on">
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-tile-action>
            </template>
            <span>{{item.name}}</span>
          </v-tooltip>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.name" />
          </v-list-tile-content>
        </v-list-tile>
      </v-list>


      <v-list>
        <v-subheader>Transaction</v-subheader>
        <v-list-tile
          v-for="(item, i) in items_reports"
          :key="i"
          :to="item.item_url"
          router
          exact
        >
          <v-tooltip right>
            <template v-slot:activator="{ on }">
              <v-list-tile-action v-on="on">
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-tile-action>
            </template>
            <span>{{item.name}}</span>
          </v-tooltip>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.name" />
          </v-list-tile-content>
        </v-list-tile>
      </v-list>

    </v-navigation-drawer>
    <v-toolbar
      :clipped-left="clipped"
      fixed
      app
    >
      <v-toolbar-side-icon @click="drawer = !drawer" />
      <v-btn
        icon
        @click.stop="miniVariant = !miniVariant"
      >
        <v-icon>{{ `chevron_${miniVariant ? 'right' : 'left'}` }}</v-icon>
      </v-btn>
      <!-- <v-btn
        icon
        @click.stop="clipped = !clipped"
      >
        <v-icon>web</v-icon>
      </v-btn> -->
      <!-- <v-btn
        icon
        @click.stop="fixed = !fixed"
      >
        <v-icon>remove</v-icon>
      </v-btn> -->
      <v-toolbar-title v-text="title" />
      <v-spacer />
      <v-btn
        icon
        @click.stop="rightDrawer = !rightDrawer"
      >
        <v-icon>menu</v-icon>
      </v-btn>
    </v-toolbar>
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
    <v-navigation-drawer
      v-model="rightDrawer"
      :right="right"
      temporary
      fixed
    >
      <v-list>
        <v-list-tile @click.native="right = !right">
          <v-list-tile-action>
            <v-icon light>compare_arrows</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>Switch drawer (click me)</v-list-tile-title>
        </v-list-tile>

        <v-list-tile @click="Logout()">
          <v-list-tile-action>
            <v-icon light>compare_arrows</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>Logout</v-list-tile-title>
        </v-list-tile>

      </v-list>
    </v-navigation-drawer>
    <!-- <v-footer
      :fixed="fixed"
      app
    >
      <span>&copy; 2019</span>
    </v-footer> -->

    <axiosLoader/>
    
    <loaderManual/>
    <snackbar/>
    <sessionExpired/>
    <confirmModal/>
  </v-app>
</template>

<script>
import Request from '@/api/request'
import axiosLoader from '@/components/common/axios-loading'
import { mapState } from 'vuex'

import MenusUsers from '@/json/menu_items_users.json'
import MenusMaintenances from '@/json/menu_items_maintenance.json'
import MenusTransactions from '@/json/menu_items_transactions.json'
import MenusReports from '@/json/menu_items_reports.json'

// UTILS
import loaderManual from '@/components/common/loader_manual'
import snackbar from '@/components/common/snackbar'
import sessionExpired from '@/components/common/session-expired'
import confirmModal from '@/components/common/confirm-modal'


export default {
  computed: {
      ...mapState(['config'])
  },
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      // items: [
      //   {
      //     icon: 'apps',
      //     title: 'Welcome',
      //     to: '/'
      //   },
      //   {
      //     icon: 'bubble_chart',
      //     title: 'Inspire',
      //     to: '/inspire'
      //   },
      //   {
      //     icon: 'person',
      //     title: 'Users',
      //     to: '/users'
      //   }
      // ],
      items_reports: MenusReports,
      items_maintenance: MenusMaintenances,
      items_transactions: MenusTransactions,
      items_users: MenusUsers,
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'IMS'
    }
  },
  components: {
    axiosLoader,

    loaderManual,
    snackbar,
    sessionExpired,
    confirmModal,
  },
  created () {
    new Request().init({
      loadingCB: (toggle) => {
        toggle ? this.$store.commit('axiosLoader/showModal') : this.$store.commit('axiosLoader/closeModal')
      }
    })
  },
  mounted () {

  },
  methods: {
    Logout() {
      this.$auth.logout()
    }
  }
}
</script>
