<template>
    <v-content>
        <v-container style="height:100%; padding-top: 0px; padding-bottom: 0px;" >
            <v-layout>
            <v-flex >
                <nuxt />
            </v-flex>
            </v-layout>
        </v-container>
    </v-content>
</template>

<script>
export default {

}
</script>

<style>

</style>
