<template>
  <v-layout row justify-center>
    <v-dialog v-model="checkout.viewmodel.modals.step3Validator" persistent scrollable max-width="500px">
      <v-card>
        <v-card-title class="font-weight-bold title">Collector Confirm</v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <!-- <v-container> -->
            <v-layout column>

              <v-form>

                <v-textarea
                  v-model="checkout.viewmodel.step2.remarks"
                  prepend-icon="wrap_text" 
                  label="remarks" 
                  no-resize
                >

                </v-textarea>

                <v-text-field 
                  v-model="form_data.username" 
                  label="Username" 
                  type="text"
                  prepend-icon="person"
                  @keyup.enter="login()"></v-text-field>

                <v-text-field 
                  v-model="form_data.password" 
                  label="Password"
                  type="password"
                  prepend-icon="lock" 
                  @keyup.enter="login()"></v-text-field>
              </v-form>
   
            </v-layout>
          <!-- </v-container> -->
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn flat 
            @click="() => {
              login()
            }"
          >Confirm Checkout</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapState } from 'vuex'
import apiAuthentication from '@/api/authentication.js'

export default {
  computed: mapState(['checkout', 'common', 'master']),
  data () {
    return {
      form_data:{
          username: '',
          password : ''
      }
    }
  },
  methods: {
    login () {

      apiAuthentication.getUserId(this.form_data, 
        (response) => {

          this.username = ''
          this.password = ''

          this.$store.dispatch('checkout/SUBMIT', response.data.user_id)

        },
        (error) => {

          this.$store.dispatch('common/toggleSnackbar', 'Invalid Credentials')

        })
    }
  }
}
</script>
