<template>
  <v-layout row wrap>

    <v-flex grow class="ma-2">

        <v-data-table
          class="elevation-1"
          :items="checkout.viewmodel.step2.requisition_products.table.data"
          :loading="checkout.viewmodel.step2.requisition_products.table.loading"
          :pagination.sync="checkout.viewmodel.step2.requisition_products.table.pagination"
          :total-items="checkout.viewmodel.step2.requisition_products.table.total"
          :headers="checkout.viewmodel.step2.requisition_products.table.headers"
          hide-actions
          :expand="false"
          item-key="product_no"
          >
          <template slot="items" slot-scope="props">

            <td v-for="header in checkout.viewmodel.step2.requisition_products.table.headers" :key="header.id" class="text-xs-left">
              <span v-if="header.type === 'String'">
                {{ props.item[header.value] }}
              </span>
              <span v-else-if="header.type === 'Date'">
                {{ MomentHelper(props.item[header.value]) }}
              </span>
              <v-icon small v-else-if="header.type === 'Boolean' && props.item[header.value] === true">check</v-icon> 
              <v-icon small v-else-if="header.type === 'Boolean' && props.item[header.value] === false">clear</v-icon>
              <span v-else-if="header.type === 'Object'">
                <!-- Currently Supporting LEVEL 1 Object -->
                {{ props.item[header.value][header.display_name] }} 
              </span>

              <div v-else>
                <v-btn v-if="props.item.product_is_serialized"
                  small
                  flat
                  color="black"
                  @click="() => {

                    props.expanded = !props.expanded

                  }"
                  >
                  View SN
                </v-btn>
              </div>


            </td>
          </template>


          <template slot="expand" slot-scope="props">
            <v-container style="">
              <v-card>
                  <v-container fluid class="elevation-1">
                    <v-layout row wrap>
                      <v-flex v-for="item in props.item.acquisitions_items" :key="item.acqId" xs4>
                        <v-card flat>
                          <v-checkbox v-model="item.selected" :label="item.serial_number + ' (' + item.item_condition + ')'"></v-checkbox>
                        </v-card>
                      </v-flex>
                    </v-layout>
                  </v-container>
              </v-card>
              
              <v-layout>
                  <v-spacer></v-spacer>
                      <v-btn small flat @click="props.expanded = !props.expanded"><v-icon>keyboard_arrow_up</v-icon></v-btn>
                  <v-spacer></v-spacer>
              </v-layout>

            </v-container>


          </template>







        </v-data-table>


    </v-flex>


    <v-flex shrink class="ma-2">
      <v-card class="pa-2">
        <v-container>

          <input-field 
            v-model="checkout.viewmodel.step1.location_from"
            :type="'Object'"
            :label="'Location Checkout From'"

            :durl="require('@/api/urls.js').urlMasters.warehouse_location"
            :dtext="'name'"
            :dvalue="'id'"
            :icon="'store'"
            disabled
            >
          </input-field>

          <v-text-field
            v-model="checkout.viewmodel.step1.project.project_name"
            label="Project"
            prepend-icon="event"
            disabled
          ></v-text-field>

          <v-autocomplete 
            v-model="checkout.viewmodel.step1.location"
            :items="checkout.viewmodel.step1.filteredProjectLocations"
            label="Project Location"
            dense
            item-text="location_name"
            item-value="id"
            :prepend-icon="'location_on'"
            disabled
          ></v-autocomplete>
        </v-container>
      </v-card>
      
    </v-flex>

    <warehouseValidator/>
    <successModal/>
  </v-layout>
</template>

<script>
import { mapState } from 'vuex'
import warehouseValidator from './collector-confirm'
import successModal from './success'

export default {
  computed: mapState(['checkout', 'common', 'master']),
  components: {
    warehouseValidator,
    successModal
  }
}
</script>

<style>

</style>
