<template>
  <v-layout row justify-center>
    <v-dialog v-model="checkout.viewmodel.modals.success" persistent scrollable max-width="500px" persistent>
      <v-card>
        <v-card-title class="font-weight-bold title">Success!</v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <!-- <v-container> -->
            <v-layout column>

              <span>
                You have successfully checkout the <span class="font-weight-black">{{ checkout.viewmodel.requsition_header.requisition_no }}</span>
              </span>

            </v-layout>
          <!-- </v-container> -->
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn flat @click="() => {
              $store.dispatch('checkout/toggleModal', 'success')
              $router.replace('/manage-stock-requisitions')
            }"
            >Go to ViewStock Requisition</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: mapState(['checkout', 'common', 'master']),
}
</script>
