<template>
    <v-layout column>

        <nuxt-link to="/users">Go to Users</nuxt-link>

        <h1>Products</h1>

        <v-layout row>
            <v-btn @click="$store.dispatch('express/getProducts')">
                GET ALL
            </v-btn>

            <v-btn @click="$store.commit('express/reset')">
                RESET
            </v-btn>
        </v-layout>



        <!-- <table-template 
            :model="express.tblProduct" 
            @update:pagination="$store.dispatch('express/getProducts')"
            /> -->

        <v-data-iterator
            :items="express.tblProduct.data"
            :rows-per-page-items="[10,50,100]"
            
            hide-actions
            row
            wrap
        >

            <!-- <template v-slot:header>
                <v-toolbar
                class="mb-2"
                color="grey darken-5"
                dark
                flat
                >
                <v-toolbar-title>This is a header</v-toolbar-title>
                </v-toolbar>
            </template> -->

            <template v-slot:item="props"> 

                {{ props.item }}

                <br/>

            </template>

        </v-data-iterator>

        <!-- {{ express.tblProduct.data }} -->

    </v-layout>
</template>

<script>
import { mapState } from 'vuex'
const { masters } = require('../api/urls')

export default {
    layout: 'default',
    async fetch ({ store, params }) {
        await store.dispatch('express/getProducts')
    },
    computed: {
        ...mapState(['express'])
    },
    mounted () {
        // this.$store.dispatch('express/getProducts')
    }
}
</script>

<style>

</style>
