<template>
    <v-layout column>

        <nuxt-link to="/products">Go to Products</nuxt-link>

        <h1>USERS</h1>

        <v-layout row>
            <v-btn small @click="$store.dispatch('express/getUsers')">
                GET ALL
            </v-btn>

            <v-btn small @click="$store.commit('express/reset')">
                RESET
            </v-btn>

            <v-btn small @click="LOGSELECTED">
                LOG SELECTED
            </v-btn>
        </v-layout>

        <v-layout class="ml-2">
            <v-flex>
                <table-template 
                    :model="express.tblUser" 
                    @update:pagination="$store.dispatch('express/getUsers')"
                    :uniqueColumn="'id'"
                    :actions="[
                        { title: 'edit', key: 'id', method: (id) => {} },
                        { title: 'delete', key: 'id', method: test }]"
                    :selectable="true"
                    v-model="selectedItemss"
                    >
                    <template slot="expanded" slot-scope="selected">
                        <v-card flat>
                            <v-card-text>Your selected item: {{ selected }}</v-card-text>
                        </v-card>
                    </template>
                </table-template>
            </v-flex>
        </v-layout>

        <!-- {{ express.tblUser.data }} -->

    </v-layout>
</template>

<script>
import { mapState } from 'vuex'

export default {
    layout: 'default',
    async fetch ({store, app}) {
        await store.dispatch('express/getUsers')
    },
    computed: {
        ...mapState(['express'])
    },
    mounted () {
        // this.$store.dispatch('express/getUsers')
    },
    methods: {
        test (id) {
            console.log(`asjhdgasjdsgdgsad`, id)
        },
        LOGSELECTED () {
            console.log(`SELECTED ITEMS PARE:`, this.selectedItemss)
        }
    },
    data () {
        return {
            selectedItemss: []
        }
    }
}
</script>

<style>

</style>
