<template>
  <v-layout column wrap>

    <v-flex>
      <v-container>
        <v-layout align-center justify-center row fill-height wrap>
            <v-flex xs12 lg5>
              <input-field 
                :value="$auth.user.username"
                :type="'String'"
                :label="'Requestor'"
                :icon="'person'"
                disabled
                >
              </input-field>
              <input-field 
                v-model="requisition_create.viewmodel.step1.project"
                :type="'Object'"
                :label="'Project'"
                :icon="'domain'"
                
                :ditems="$store.getters['maintenance/getProjects']"
                :dtext="'name'"
                :dvalue="'id'"
                disabled
                >
              </input-field>
            </v-flex>
            <v-flex xs12 lg5>
              <input-field 
                :value="requisition_create.viewmodel.step1.authorizer"
                :type="'Object'"
                :label="'Authorizer'"

                :ditems="$store.getters['maintenance/getUsers']"
                :dtext="'username'"
                :dvalue="'id'"
                :icon="'person'"
                disabled
                >
              </input-field>
              <input-field 
                :type="'Date'"
                v-model="requisition_create.viewmodel.step2.dateRequired"
                @input="(e) => {
                  var todayDate = new Date().toISOString().slice(0,10);
                  if (e) {
                    if (e >= todayDate) {
                      requisition_create.viewmodel.step2.dateRequired = e
                    }
                    else {
                      requisition_create.viewmodel.step2.dateRequired = null
                    }
                  }
                  else {
                    requisition_create.viewmodel.step2.dateRequired = null
                  }
                }"
                :label="'Date required for qty purchasing'"
                :icon="'event'"
                >
              </input-field>
            </v-flex>
        </v-layout>
        <v-layout align-center justify-center row fill-height wrap>
          <v-flex lg5>
            <v-textarea
              v-model="requisition_create.viewmodel.step1.remarks"
              :label="'Remarks'"
              disabled
              no-resize
            ></v-textarea>
          </v-flex>
        </v-layout>
      </v-container>
    </v-flex>




      <v-flex grow class="">
        <span class="body-1 font-weight-bold">Requested Products</span>
        
        <table-template 
            class="elevation-0"
            :model="requisition_create.viewmodel.step2.selectedItems.table"
            list
            :custom_rows="true"
            :custom_headers="true"
            >
          <template slot="headers" slot-scope="props">

            <tr>

              <th class="column text-xs-left">
                <span>Product No.</span>
              </th>
              <th class="column text-xs-left">
                <span>Product Name</span>
              </th>

              <th class="column text-xs-left">
                <span>Product Brand</span>
              </th>

              <th class="column text-xs-left">
                <span>QTY SR</span>
              </th>

              <th class="column text-xs-left">
                <span>QTY PR</span>
              </th>

              <th class="column text-xs-left">
                <span>Unit</span>
              </th>

            </tr>

          </template>
          <template slot="rows" slot-scope="props">

            <tr :class="props.props.item.qty_pr > 0 ? 'row-stock-requisition-has-pr' : ''">

              <td>
                <span>{{ props.props.item.productNo }}</span>
              </td>
              <td>
                <span>{{ props.props.item.productName }}</span>
              </td>

              <td>
                <span>{{ props.props.item.productBrand }}</span>
              </td>

              <td>
                <span>{{ props.props.item.qty_sr }}</span>
              </td>

              <td>
                <span>{{ props.props.item.qty_pr }}</span>
              </td>

              <td>
                <span>{{ props.props.item.productUnit }}</span>
              </td>

            </tr>

          </template>
        </table-template>
      </v-flex>
  </v-layout>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: mapState(['requisition_create', 'acquisition_manual_add']),
  data () {
    return {
      menu: false
    }
  }
}
</script>

<style>

</style>
