<script>
import MainComponent from '@/components/transaction/requisition/create/index'
export default {
    extends: MainComponent,
    layout:'main',
    async fetch({store, app}) {

      await store.dispatch('requisition_create/reset')

      await store.dispatch('maintenance/populateUsers', {})
      await store.dispatch('maintenance/populateProjects', {})
      await store.dispatch('maintenance/populateClients', {})

      await store.dispatch('requisition_create/step2PopulateStocksForRequisition')
    }
}
</script>

<style>

</style>
