<template>
  <div>
    <v-card>
      <v-layout class="ml-4 mr-4">
        <h1 class="display-1 font-weight-bold mt-5">Approve Stock Requisition (Basic)</h1>
      </v-layout>
      <v-layout row wrap class="ml-3 mr-4">
        <v-btn class="primary" flat small @click.prevent="$router.push('/transaction/requisition/for-approval/')"><v-icon dark small>chevron_left</v-icon>Back</v-btn>
        <v-btn class="primary" flat small @click.prevent="$router.push(`/transaction/requisition/approve/${$route.params.id}/advance`)"><v-icon dark small>refresh</v-icon> &nbsp; Switch to Advance</v-btn>
      </v-layout>

      <v-layout class="ml-4 mr-4 mt-3">
        <v-flex class="mr-3">
          <span class="body-1 font-weight-bold">Stock Requisition Details</span>
          <v-card class="pa-3 card-transparent" flat>
            <v-layout column>

              <v-text-field
                :label="'Stock Requisition No'"
                :value="requisition_approve_basic.viewmodel.requisition.requisition_no"
                disabled
                type="text"
              ></v-text-field>

              <v-text-field
                :label="'Requestor'"
                :value="requisition_approve_basic.viewmodel.requisition.requestor.username"
                disabled
                type="text"
              ></v-text-field>

              <v-text-field
                :label="'Requested On'"
                :value="MomentHelper(requisition_approve_basic.viewmodel.requisition.requested_date)"
                disabled
                type="text"
              ></v-text-field>

              <v-text-field
                :label="'Project'"
                :value="requisition_approve_basic.viewmodel.requisition.project.name"
                disabled
                type="text"
              ></v-text-field>

              <v-textarea
                :label="'Remarks'"
                :value="requisition_approve_basic.viewmodel.requisition.remarks"
                disabled
                type="text"
                height="80"
              ></v-textarea>

            </v-layout>

          </v-card>
        </v-flex>
        <v-flex class="mr-3">

        </v-flex>
        <!-- <v-spacer></v-spacer> -->
      </v-layout>

      <!-- <v-layout class="ml-4 mr-4 mt-3" style="max-width:1320px">
          <v-text-field solo
            v-model="requisition_approve_basic.viewmodel.sr_items.table.search.value"
            append-icon="search"
            label="Search keyword"
            @click:append="$store.dispatch('requisition_approve_basic/populateStockReqTable')"
            @keypress.enter.prevent="$store.dispatch('requisition_approve_basic/populateStockReqTable')"
          ></v-text-field>
        <v-spacer></v-spacer>
      </v-layout> -->

      <v-layout class="pl-4 pr-4 pb-4" column>
        <v-flex>
          <span class="body-1 font-weight-bold">Stock Requisition Items</span>
          <table-template 
              class="elevation-0"
              v-model="requisition_approve_basic.viewmodel.selected_sr_items"
              :model="requisition_approve_basic.viewmodel.sr_items.table"
              @update:pagination="$store.dispatch('requisition_approve_basic/populateStockReqTable')"
              :selectable="!requisition_approve_basic.viewmodel.confirm"
              :uniqueColumn="'row_id'"
              >
          </table-template>
        </v-flex>
      </v-layout>

      <v-layout class="pl-4 pr-4 pb-4" column>
        <v-flex>
          <span class="body-1 font-weight-bold">Purchase Request Items</span>
          <table-template 
              class="elevation-0"
              v-model="requisition_approve_basic.viewmodel.selected_pr_items"
              :model="requisition_approve_basic.viewmodel.pr_items.table"
              @update:pagination="$store.dispatch('requisition_approve_basic/populatePurchaseReqTable')"
              :selectable="!requisition_approve_basic.viewmodel.confirm"
              :uniqueColumn="'row_id'"
              >
          </table-template>
        </v-flex>
      </v-layout>

      <v-layout class="pl-4 pr-4 pb-4">
        <v-btn class="primary" flat small v-if="!requisition_approve_basic.viewmodel.confirm"
          @click.prevent="(e) => {
            requisition_approve_basic.viewmodel.confirm = true;
            $store.dispatch('requisition_approve_basic/confirm', true);
          }"
          >
          Confirm
        </v-btn>


        <v-btn class="primary" flat small v-if="requisition_approve_basic.viewmodel.confirm" 
          @click.prevent="(e) => {
            requisition_approve_basic.viewmodel.confirm = false;
            $store.dispatch('requisition_approve_basic/confirm', false);
          }"
          >
          Edit
        </v-btn>
        <v-btn class="primary" flat small v-if="requisition_approve_basic.viewmodel.confirm" 
          @click.prevent="$store.dispatch('requisition_approve_basic/confirmApprove')"
          >
          Confirm Approve
        </v-btn>
      </v-layout>
    </v-card>

    <!-- MODAL -->
    <!-- <formmodal/> -->
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { MomentHelper } from '@/helpers/moment.js'

export default {
  data () {
    return {
      selectedItems: []
    }
  },
  computed: {
    ...mapState(['requisition_approve_basic']),
  },
  components: {
    // formmodal
  },
  methods: {
    MomentHelper (date) {
      return MomentHelper(date)
    }
  }
}
</script>

<style>

</style>
