<template>
  <v-layout row justify-center>
    <v-dialog v-model="checkout.viewmodel.modals.step2Consumable" persistent scrollable max-width="500px">
      <v-card>
        <v-card-title class="font-weight-bold title">Edit Consumable</v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <!-- <v-container> -->
            <v-layout column>

              <v-text-field
                v-model="checkout.viewmodel.step2.selected_requisition_product.product_no"
                label="Product No."
                readonly
              ></v-text-field>

              <v-text-field
                v-model="checkout.viewmodel.step2.selected_requisition_product.qty_rc"
                label="QTY_RC"
                readonly
              ></v-text-field>


              <v-container>

                <v-layout v-for="item in checkout.viewmodel.step2.consumable_items_list" :key="item.acqId">

                  <v-layout v-if="item.item_condition === 'New'">

                    <v-text-field
                      v-model="item.count"
                      label="QTY_LN"
                      readonly
                    ></v-text-field>
                    <v-spacer></v-spacer>
                    <v-text-field
                      v-model="item.cn"
                      label="QTY_CN"
                    ></v-text-field>

                  </v-layout>


                  <v-layout v-if="item.item_condition === 'Used'">

                    <v-text-field
                      v-model="item.count"
                      label="QTY_LU"
                      readonly
                    ></v-text-field>
                    <v-spacer></v-spacer>
                    <v-text-field
                      v-model="item.cu"
                      label="QTY_CU"
                    ></v-text-field>

                  </v-layout>

                </v-layout>

              </v-container>


            </v-layout>
          <!-- </v-container> -->
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            @click="() => {
              $store.dispatch('checkout/step2_AddConsumableToProduct')
              $store.dispatch('checkout/toggleModal', 'step2Consumable')
            }"
            class="primary"
            :disabled="validation"
          >Confirm</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState(['checkout', 'common', 'master']),
    validation(){
      var consumable_items_list = this.$store.state.checkout.viewmodel.step2.consumable_items_list

      var total_rc = this.$store.state.checkout.viewmodel.step2.selected_requisition_product.qty_rc

      var item_cn
      var item_cu

      item_cn = consumable_items_list[0]
      item_cu = consumable_items_list[1]
      
      if(item_cn && item_cu){
        var value_cn = item_cn.cn ? Number(item_cn.cn) : 0
        var value_cu = item_cu.cu ? Number(item_cu.cu) : 0

        var total_value = value_cn + value_cu

        console.log('value_cn',value_cn);
        console.log('value_cu',value_cu);
        console.log('total_value',total_value);

        if(item_cn.cn > item_cn.count || item_cu.cu > item_cu.count){
          return true
        }else if(value_cn == 0 && value_cu == 0){
          return true
        }
        else if(total_rc < total_value){
          return true
        }
        else{
          return false
        }

      }




      

    }
  }
}
</script>
