<template>
  <v-layout column>
    <v-flex>
      <table-template 
          class="elevation-0"
          :model="checkout.viewmodel.step2.requisition_products.table"
          
          :actions="[
              { title: 'Edit', key: 'id', method: (id) => { $router.push(`/transaction/requisition/manage/${id}`) } }
          ]"
          >
      </table-template>

      <!-- <v-data-table
        class="elevation-1"
        :items="checkout.viewmodel.step2.requisition_products.table.data"
        :loading="checkout.viewmodel.step2.requisition_products.table.loading"
        :pagination.sync="checkout.viewmodel.step2.requisition_products.table.pagination"
        :total-items="checkout.viewmodel.step2.requisition_products.table.total"
        @update:pagination="$store.dispatch('master/list')"
        :headers="checkout.viewmodel.step2.requisition_products.table.headers"
        hide-actions
        >
        <template slot="items" slot-scope="props">

          <td v-for="header in checkout.viewmodel.step2.requisition_products.table.headers" :key="header.id" class="text-xs-left">
            <span v-if="header.type === 'String'">
              {{ props.item[header.value] }}
            </span>
            <span v-else-if="header.type === 'Date'">
              {{ MomentHelper(props.item[header.value]) }}
            </span>
            <v-icon small v-else-if="header.type === 'Boolean' && props.item[header.value] === true">check</v-icon> 
            <v-icon small v-else-if="header.type === 'Boolean' && props.item[header.value] === false">clear</v-icon>
            <span v-else-if="header.type === 'Object'">
              {{ props.item[header.value][header.display_name] }} 
            </span>

            <v-btn v-else
              small
              flat
              color="black"
              fab
              @click="() => {

                $store.dispatch('checkout/step2_SetProductForEdit', props.item)

                if (props.item.product_is_serialized) {
                  $store.dispatch('checkout/step2_SelectionSerialNumbers', () => {
                    $store.dispatch('checkout/toggleModal', 'step2Serialized')
                  })
                }
                else {
                  $store.dispatch('checkout/step2_WarehouseConsumablecount', () => {
                    $store.dispatch('checkout/toggleModal', 'step2Consumable')
                  })
                }
              }"
              >
              Edit
            </v-btn>
          </td>
        </template>
      </v-data-table> -->
    </v-flex>

    <serializedComponent/>
    <consumableComponent/>
  </v-layout>
</template>

<script>
import { mapState } from 'vuex'

// import serializedComponent from './serialized'
// import consumableComponent from './consumable'

export default {
  computed: mapState(['checkout', ]),
  components: {
    // serializedComponent,
    // consumableComponent
  }
}
</script>
