<template>
  <v-layout row justify-center>
    <v-dialog v-model="checkout.viewmodel.modals.step2Serialized" persistent scrollable max-width="1200px">
      <v-card>
        <v-card-title class="font-weight-bold title">Edit Serialized</v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <!-- <v-container> -->
            <v-layout column>
              
              <v-layout row>

                <v-flex shrink class="ma-3">
                  <span class="subheading font-weight-bold">Selected for Checkout Serial Numbers</span>
                  <br/><br/>

                  <v-text-field
                    v-model="checkout.viewmodel.step2.selected_requisition_product.product_no"
                    label="Product No."
                    readonly
                  ></v-text-field>
                  <v-text-field
                    v-model="checkout.viewmodel.step2.selected_requisition_product.qty_rc"
                    label="QTY_RC"
                    readonly
                  ></v-text-field>
                  <v-text-field
                    v-model="checkout.viewmodel.step2.selected_requisition_product.qty_cn"
                    label="QTY_CN"
                    readonly
                  ></v-text-field>
                  <v-text-field
                    v-model="checkout.viewmodel.step2.selected_requisition_product.qty_cu"
                    label="QTY_CU"
                    readonly
                  ></v-text-field>
                </v-flex>

                <v-flex grow class="ma-3">
                  <span class="subheading font-weight-bold">Selection Serial Numbers</span>
                  <br/><br/>

                  <v-combobox
                    hide-selected
                    label="Scan Serial Number Barcode"
                    multiple
                    small-chips
                    box
                    @change="(items) => {

                      if (items) {

                        var last = items[items.length-1]

                        var existing = checkout.viewmodel.step2.serialized_items_list.find(exitem => exitem.serial_number == last)
                        
                        if (!existing) 
                          items.pop()

                        var not_allowed_rc = checkout.viewmodel.step2.selected_requisition_product.qty_rc < items.length
                        
                        if(not_allowed_rc)
                          items.pop()
                          



                        checkout.viewmodel.step2.serialized_items_list.forEach((item) => {

                          var existing = items.find(exitem => exitem == item.serial_number)

                          if (existing)
                            item.selected = true
                          else
                            item.selected = false

                        })

                      }
                    }"
                  >
                  </v-combobox>

                  <v-container fluid class="elevation-1">
                    <v-layout row wrap>
                      <v-flex v-for="item in checkout.viewmodel.step2.serialized_items_list" :key="item.acqId" xs4>
                        <v-card flat>
                          <v-checkbox disabled v-model="item.selected" :label="item.serial_number + ' (' + item.item_condition + ')'"></v-checkbox>
                        </v-card>
                      </v-flex>
                    </v-layout>
                  </v-container>

                </v-flex>

              </v-layout>

            </v-layout>
          <!-- </v-container> -->
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn 
            @click="() => {
              $store.dispatch('checkout/step2_AddSerialsToProduct')
              $store.dispatch('checkout/toggleModal', 'step2Serialized')
            }"
            class="primary"
            :disabled="validation"
          >Confirm</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState(['checkout', 'common', 'master']),
    validation(){
      var serial_list = this.$store.state.checkout.viewmodel.step2.serialized_items_list
      var qty_rc = this.$store.state.checkout.viewmodel.step2.selected_requisition_product.qty_rc
      var list = []
      serial_list.forEach((items) => {
        if(items.selected == true){
          list.push(items)
        }
      });

      if(qty_rc < list.length){
        return true
      }
      else{
        return false
      }
      
    } 
  }
}
</script>
