<template>
  <div>
    <v-card class="elevation-0">
      <v-layout class="pb-4">
        <v-flex>

          <table-template 
              class="elevation-0"
              :model="inventory_id.viewmodel.batch_history.table" 
              @update:pagination="$store.dispatch('inventory_id/listBatchHistory')"
              >
          </table-template>

        </v-flex>
      </v-layout>
    </v-card>
  </div>
</template>


<script>
import { mapState } from 'vuex'

export default {
  computed: mapState(['inventory_id']),
  methods: {
    updateBatch (obj) {

      // this.$store.dispatch('acquisition/reset')

      // var product = this.$store.getters['manage_stocks/getDetailHeader']
      // this.$store.dispatch('acquisition/setCurrentProductUpdateBatch', product)

      // if (!product.is_serialized) 
      //   this.$store.dispatch('acquisition/appendConsumableStock', true) // 'true' means initialize

      // this.$store.dispatch('acquisition/prepareUpdateBatch', obj.acq_id)

      // var productId  = this.$store.getters['manage_stocks/getDetailHeader'].id

      this.$router.replace(this.$store.getters['manage_stocks/getDetailHeader'].id + '/update-batch/' + obj.acq_id)
    }
  }
}
</script>
