<template>
  <v-layout row justify-center>
    <v-dialog v-model="inventory.viewmodel.custom_modals.filter" persistent scrollable max-width="500">
      <v-card>
        <v-card-title class="font-weight-bold title">Filter Products</v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-container>
            <v-layout column>

              <v-layout row>
                <v-checkbox prepend-icon="filter_list" label="Filter Location" v-model="inventory.viewmodel.index.filter.location.toggle"></v-checkbox>

                <input-field 
                  v-show="inventory.viewmodel.index.filter.location.toggle"
                  v-model="inventory.viewmodel.index.filter.location.selectedItem" 
                  :type="'Object'"
                  :label="'Location'"

                  :ditems="$store.getters['maintenance/populateWarehouses']"
                  :dtext="'name'"
                  :dvalue="'id'"
                  >
                </input-field>

              </v-layout>

              <v-layout row>
                <v-checkbox prepend-icon="filter_list" label="Filter Brand" v-model="inventory.viewmodel.index.filter.brand.toggle"></v-checkbox>

                <input-field 
                  v-show="inventory.viewmodel.index.filter.brand.toggle"
                  v-model="inventory.viewmodel.index.filter.brand.selectedItem" 
                  :type="'Object'"
                  :label="'Brand'"

                  :ditems="$store.getters['maintenance/getBrands']"
                  :dtext="'description'"
                  :dvalue="'id'"
                  >
                </input-field>

              </v-layout>

              <v-layout row>
                <v-checkbox prepend-icon="filter_list" label="Filter Category" v-model="inventory.viewmodel.index.filter.category.toggle"></v-checkbox>

                <input-field 
                  v-show="inventory.viewmodel.index.filter.category.toggle"
                  v-model="inventory.viewmodel.index.filter.category.selectedItem" 
                  :type="'Object'"
                  :label="'Category'"

                  :ditems="$store.getters['maintenance/getCategories']"
                  :dtext="'description'"
                  :dvalue="'id'"
                  >
                </input-field>

              </v-layout>

  
            </v-layout>
          </v-container>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn flat class="primary" @click="$store.commit('inventory/toggleCustomModal', 'filter')">Cancel</v-btn>
          <v-spacer></v-spacer>
          <v-btn flat class="primary" @click="filter()">Filter</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: mapState(['inventory', 'common']),
  methods: {
    cancel () {
      $store.commit('inventory/toggleCustomModal', 'filter')
    },
    filter () {
      this.$store.dispatch('inventory/list')
      this.$store.commit('inventory/toggleCustomModal', 'filter')
    }
  }
}
</script>

<style>

</style>
