<template>
  <v-layout row justify-center>
    <v-dialog v-model="inventory.viewmodel.modals" persistent scrollable max-width="500">
      <v-card>
        <v-card-title class="font-weight-bold title">Product Form</v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-container>
            <v-layout column fill-height>

              <v-flex v-show="inventory.viewmodel.isArchive">
                <v-alert
                  :value="true"
                  color="error"
                  icon="warning"
                  outline
                >
                  Are you sure you want to Archive the selected Product
                  &nbsp;
                  <v-icon>archive</v-icon>
                </v-alert>
              </v-flex>

              <br/>

              <v-flex v-for="header in inventory.viewmodel.crud_form_schema" :key="header.id">

                <input-field 
                  v-if="header.type === 'String'" 
                  :type="'String'"
                  v-model="inventory.viewmodel.crud_form[header.value]"

                  :error="inventory.viewmodel.crud_form_error[header.value]"
                  :label="String(header.text)"
                  :icon="header.icon"
                  :disabled="inventory.viewmodel.isArchive || header.readonly"
                  >
                </input-field>

                <input-field 
                  v-else-if="header.type === 'Number'" 
                  :type="'Number'"
                  v-model="inventory.viewmodel.crud_form[header.value]"

                  :error="inventory.viewmodel.crud_form_error[header.value]"
                  :label="String(header.text)"
                  :icon="header.icon"
                  :disabled="inventory.viewmodel.isArchive || header.readonly"
                  >
                </input-field>


                <input-field 
                  v-else-if="header.type === 'Boolean'" 
                  :type="'Boolean'"
                  v-model="inventory.viewmodel.crud_form[header.value]"

                  :error="inventory.viewmodel.crud_form_error[header.value]"
                  :label="String(header.text)"
                  :icon="header.icon"
                  :disabled="inventory.viewmodel.isArchive || header.readonly"
                  >
                </input-field>


                <input-field 
                  v-else-if="header.type === 'Date'" 
                  :type="'Date'"
                  v-model="inventory.viewmodel.crud_form[header.value]"

                  :error="inventory.viewmodel.crud_form_error[header.value]"
                  :label="String(header.text)"
                  :icon="header.icon"
                  :disabled="inventory.viewmodel.isArchive || header.readonly"
                  >
                </input-field>


                <input-field 
                  v-else-if="header.type === 'Object'" 
                  :type="'Object'"
                  v-model="inventory.viewmodel.crud_form[header.value]"
                  :error="inventory.viewmodel.crud_form_error[header.value]"
                  :label="String(header.text)"
                  :icon="header.icon"
                  :disabled="inventory.viewmodel.isArchive || header.readonly"

                  :ditems="header.select_items"
                  :durl="header.select_items_url"
                  :dtext="header.display_name"
                  :dvalue="header.select_items_value"
                  :dinitvalue="header.select_items_default_value"
                  >
                </input-field>

              </v-flex>

            </v-layout>
          </v-container>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn class="primary" flat @click="inventory.viewmodel.modals = false">Close</v-btn>
          <v-spacer></v-spacer>
          <v-btn class="primary" flat @click="$store.dispatch('inventory/submit')">Submit</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapState } from 'vuex'
import { MomentHelper } from '@/helpers/moment.js'

export default {
  computed: mapState(['inventory', 'common']),
  data () {
    return {
      menu: false
    }
  },
  methods: {
    MomentHelper (date) {
      return MomentHelper(date)
    }
  }
}
</script>

<style>

</style>
