<template>
  <v-layout row justify-center>
    <v-dialog v-model="inventory.viewmodel.custom_modals.help" persistent scrollable max-width="500">
      <v-card>
        <v-card-title class="font-weight-bold title">Help</v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-container>
            <v-layout column>
              
              <v-layout v-for="item in inventory.viewmodel.index.help.abbreviation.items" :key="item.id">
                <span class="font-weight-bold">{{ item.value }} : </span> 
                <v-spacer></v-spacer>
                <span>{{ item.description }} </span>
              </v-layout>

            </v-layout>
          </v-container>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="primary" flat @click="$store.commit('inventory/toggleCustomModal', 'help')">Ok</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>


<script>
import { mapState } from 'vuex'

export default {
  computed: mapState(['inventory']),
}
</script>

<style>

</style>
