<template>
  <div>
    <v-card>
      <v-layout class="ml-4 mr-4">
        <h1 class="display-1 font-weight-bold mt-5">Inventory</h1>
      </v-layout>

      <v-layout row wrap class="ml-3 mr-4">
        <v-btn class="primary" flat small @click.prevent="$router.push('/')"><v-icon dark small>chevron_left</v-icon>Back</v-btn>
        <v-btn class="primary" flat small @click.prevent="$store.dispatch('inventory/list')"><v-icon dark small>refresh</v-icon>&nbsp;Refresh</v-btn>

        <v-btn class="primary" flat small @click.prevent="$store.commit('inventory/toggleCustomModal', 'filter')"><v-icon dark small></v-icon>Search Filter</v-btn>
        <v-btn class="primary" flat small @click.prevent="$store.commit('inventory/toggleCustomModal', 'help')"><v-icon dark small></v-icon>Help</v-btn>
        <v-btn class="primary" flat small @click.prevent="() => { $store.dispatch('inventory/reset', true); $store.commit('inventory/toggleModal') }"><v-icon dark small></v-icon>Add new product</v-btn>
        <v-btn class="primary" flat small @click.prevent="$router.replace('/stocktakes')"><v-icon dark small></v-icon>Manage Stocktakes</v-btn>

        <v-menu offset-y>
          <template slot="activator">
              <v-btn
              class="primary"
              flat small
              open-on-click
              ><v-icon dark small>import_export</v-icon>
              Export
              </v-btn>
          </template>
          <v-list>

              <v-list-tile>
                  <v-list-tile-title style="cursor:pointer">
                      <download-excel :data="inventory.viewmodel.index.table.data" :fields="inventory.viewmodel.index.table.search.fields" :name="excelName">
                          Excel
                      </download-excel>
                  </v-list-tile-title>
              </v-list-tile>

              <v-list-tile>
                  <v-list-tile-title style="cursor:pointer">
                      <download-excel :data="inventory.viewmodel.index.table.data" :fields="inventory.viewmodel.index.table.search.fields" type="csv" :name="csvName">
                          CSV
                      </download-excel>
                  </v-list-tile-title>
              </v-list-tile>

              <v-list-tile @click.prevent="exportPDF()">
                  <v-list-tile-title>PDF</v-list-tile-title>
              </v-list-tile>

          </v-list>
        </v-menu>
      </v-layout>

      <v-layout class="ml-4 mr-4 mt-3" style="max-width:1320px">
          <!-- <v-autocomplete
            v-model="inventory.viewmodel.index.table.search.field"
            :items="inventory.viewmodel.index.table.headers"
            label="Search by field"
            dense
            style="max-width:275px;"
            autocomplete
          ></v-autocomplete> -->
          <v-text-field solo
            v-model="inventory.viewmodel.index.table.search.value"
            append-icon="search"
            label="Search keyword"
            @click:append="$store.dispatch('inventory/list')"
            @keypress.enter.prevent="$store.dispatch('inventory/list')"
          ></v-text-field>
        <v-spacer></v-spacer>
      </v-layout>


      <v-layout class="pl-4 pr-4 pb-4">
        <v-flex>
          <table-template 
              class="elevation-0"
              :model="inventory.viewmodel.index.table" 
              @update:pagination="$store.dispatch('inventory/list')"
              :actions="[
                  { title: 'edit', key: 'prod_id', method: (id) => { $store.dispatch('inventory/showModal', { id: id, isArchive: false }) } },
                  { title: 'delete', key: 'prod_id', method: (id) => { $store.dispatch('inventory/showModal', { id: id, isArchive: true }) } },
                  { title: 'View Product', key: 'prod_id', method: (id) => { $router.push(`/transaction/inventory/${id}`) } }]"
              >
          </table-template>
        </v-flex>
      </v-layout>
    </v-card>

    <!-- MODAL -->
    <formmodal/>
    <filterModal/>
    <helpModal/> 
    <!-- <addeditmodal/> -->
  </div>
</template>

<script>
import { mapState } from 'vuex'
import formmodal from './form-modal'
import { MomentHelper } from '@/helpers/moment.js'

import filterModal from './filter'
import helpModal from './help'
// import addeditmodal from './add-edit-modal'

export default {
  computed: {
    ...mapState(['inventory']),
    excelName(){
      return 'Inventory.xls'
    },
    csvName(){
      return 'Inventory.csv'
    }
  },
  components : {
    formmodal,
    filterModal,
    helpModal,
    // addeditmodal
  },
  methods: {
    MomentHelper (date) {
      return MomentHelper(date)
    },
    exportPDF(){
      table.exportToPDF(this.$store.getters['inventory/getTable'], this.$store.state.inventory.viewmodel.module)
    },
    getProject (client) {
      this.$router.push('/maintenance/project?client=' + client.id + '&name='+ client.name)
    },
  }
}
</script>

<style>

</style>
